[2017-10-24 22:58] jdub55 opened #16 "Improve Readme documentation with more assumptions and detailed instructions"
While visiting at a customer site who is trying out this new module, they commented that the current documentation has some room for improvement to make it easier to get up and started with this module. Specifically, all assumptions re: which OS(es) are being used to which directory commands are expected to be run in would be very helpful additions. I've provided a couple specific examples below:

[2017-11-23 10:54] scotty-c commented on #16
@jdub55 This is now been updated in PR #22

So hopefully this fix all the issues you raised with the README etc

[2017-11-23 10:54] #16 closed

[2017-12-20 19:05] jcwarp opened #37 "Test cluster is failing"
I'm not sure what to put in for fqdn, so I put in the bootstrap controller's fqdn
Bringing the system up, it fails with:
Notice: /Stage[main]/Kubernetes::Service/Exec[Checking for the Kubernets cluster to be ready]/returns: The connection to the server bootstrap-controller.local:6443 was refused - did you specify the right host or port?
Is there a prerequisite for the Kubernetes controllers and wo

[2017-12-28 08:17] scotty-c commented on #37
@jcwarp This looks like not all the Kubernetes services have started is there any containers in crash loop ?

[2018-01-09 02:44] scotty-c commented on #37
@jcwarp Is this still an open issue?

[2018-01-10 17:54] jcwarp commented on #37
@scotty-c Yes, I still have the issue; sorry about the delay - a lot piled up over the holiday break.
What I see is that etcd-amd64 and kube-apiserver-amd64 are both exiting over and over.
I will look into journald and see if I can glean more info.

[2018-01-10 21:24] scotty-c commented on #37
@jcwarp no worries, if you find anything in the logs and want to share them on this issue. more than happy to have a look and help out.

[2018-01-11 09:07] Bengrunt opened #40 "Kubetool version and ip options behavior"
Hello,

I encountered a few issues with the kubetool options.

Firstly, the "ip" option does not seem to do anything (I gave a quick look at the code but I'm not a Ruby expert so...). I supposed it was meant to specify the ip range to use for the kubernetes pods subnet (eg. 172.16.0.0/16). Could you confirm?

Secondly, when you specify the kubernetes version it only sets the ```kubernetes_version`

[2018-01-12 02:56] scotty-c commented on #40
@Bengrunt `IP` is the public ip address for the cluster. This added that address to the SSL certificates for the cluster.

If you create the cluster configuration with the kubetool `docker run -v $(pwd):/mnt -e OS=debian -e VERSION=1.9.1 -e CONTAINER_RUNTIME=docker -e FQDN=kubernetes -e IP=172.17.10.101 -e BOOTSTRAP_CONTROLLER_IP=172.17.10.101 -e ETCD_INITIAL_CLUSTER="etcd-kube-master=http://172.1

[2018-01-12 08:13] Bengrunt commented on #40
Hello @scotty-c. Thanks for the quick answer :)

OK for the `ip` param,  I guess I got mislead by an older version of the doc where it was mentioned `-e IP=172.16.0.0/16` or something similar.

So I managed to get a little further in the deployment process but I'm still stuck. :/

I started looking at the code and found why I ended up with an empty `kubernetes_package_version`. [These lines of cod

[2018-01-12 10:40] scotty-c commented on #40
@Bengrunt The are puppet OS family facts so CentOS would be in the RedHat family. We are supporting Docker 1.12 with this module or cri-containerd as the supported runtimes, not all version of Docker are compatible with Kubernetes. But both 1.12 and cri-containerd are heavily tested.

In regards to the ip range for Weave you can change the ip address range in hiera, in saying that if you are new t

[2018-01-12 20:29] jcwarp commented on #37
Hi Scotty... This is what I have found so far. The two containers that are failing are the etcd and kube-apiserver. I suspect it is the name resolution of the etcd container that is causing the problem.

docker logs k8s_etcd_etcd-sha-k8s-host-cass-test-1
 - [snip] etcdmain: couldn't find local name "etcd-sha-k8s-host-cass-test-1" in the initial cluster configuration

docker logs k8s_kube-apiserver

[2018-01-14 21:13] scotty-c commented on #37
@jcwarp can you send the hiera values you have for `kubernetes::etcd_initial_cluster:` and also the hostname of the box

[2018-01-17 05:06] nicknezis commented on #37
@jcwarp I had a similar issue setting up a k8s cluster using kubeadm. Ended up having to run `setenforce 0` to fix the etcd failing issue. Sorry might not be related, but thought I'd mention it.

[2018-01-17 22:27] scotty-c commented on #37
@nicknezis That is a good point, we do set that if you use Kream with RHEL

[2018-01-24 22:32] gigi-at-zymergen opened #46 "Allow using the Puppet docker module to manage Docker configuration, for private registry?"
We are already heavy Puppet users and are getting going with trying to use this module to run our own Kubernetes cluster on ec2.

We have a private docker registry and have previously used the Puppet Docker module to configure Docker on nodes with the `docker::registry` config

I get the following error when I tried to use our standard Docker configuration :
[code]
It appears that the Kubernetes m

[2018-01-25 00:23] gigi-at-zymergen commented on #46
I just realized that trying to manage the private registry at the Docker level may be the wrong approach.  I should probably add the registry through kubectl per : https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/.  Would it generally be the best practice to not try and manage any Docker config through puppet and look for kubectl ways to configure?

[2018-01-25 10:37] scotty-c commented on #46
@gigi-at-zymergen you should definitely add the registry through kubectl. So there is no Docker configuration Kubernetes needs that the module does not already contain. You can still model the kubernetes commands in Puppet DSL

[2018-01-26 17:05] #46 closed

[2018-01-26 20:32] exarkun opened #49 "There is not a default container runtime"
The readme says that docker is the default container runtime.  However, configuring a worker without configuring `container_runtime` fails:

[code]

[2018-01-29 01:05] scotty-c commented on #49
@exarkun Are you pulling the module from master or the Forge?

[2018-01-29 14:04] exarkun commented on #49
From Forge.

[2018-01-29 21:04] scotty-c commented on #49
@exarkun I just pulled the module from the forge. V1.0.0 has the following set in params `container_runtime = 'docker' ` Master on Github this has changed. We have not released that as a supported change yet.

[2018-01-29 21:08] scotty-c commented on #37
@nicknezis Is this still an open issue for you?

[2018-01-30 07:48] scotty-c commented on #49
Release v 1.0.1 has now got `docker` as the default runtime

[2018-01-30 07:48] #49 closed

[2018-01-30 17:53] nickperry opened #52 "Use without kubetool / dynamically gernerate certs / keys"
The use of the module seems to be based on the assumption that kubetool or some other method will be used to generate certs and keys in advance of the master nodes being built AND that the IP addresses of the masters are known at that point so they can be baked in.

This approach does not work in our Puppet Enterprise environment because I have no control over the IP addresses my nodes will assign

[2018-01-30 21:00] scotty-c commented on #52
@nickperry Thanks for opening the issue. I would imagine that in your case at provisioning time you would have a higher level tool that would orchestrate the creation of the certs. This could be something like Jenkins, Then you could request the ip from IPAM.

[2018-01-31 16:36] exarkun opened #59 "kubernetes controller never starts apiserver"
Using puppetlabs-kubernetes 1.0.1 with an expression like:

    class { 'ntp':
        package_ensure     => 'latest',
        servers            => [ '0.ubuntu.pool.ntp.org', '1.ubuntu.pool.ntp.org' ],
        iburst_enable      => true,
        restrict           => [ '127.0.0.1' ],
    }

    class { 'kubernetes':
        controller           => true,
        bootstrap_controller => true,

[2018-01-31 21:47] nickperry commented on #52
Thanks @scotty-c. I've taken care of it for the time being by using wildcard certs and using an fqdn (covered by the wildcard) as the bootstrap ip. It's a good enough approach for what I need at the moment.

[2018-01-31 21:47] #52 closed

[2018-01-31 22:37] nickperry opened #60 "FQDN / shortname mismatch"
I am running 1.0.2 of the module. My cluster looks like this:

[code]

These two blocks of code in kube_addons.pp are causing my Puppet runs to fail because they expect my nodes to registered by their short name, rather than FQDN.

[code]

[code]

[code]

[code]

[2018-02-01 20:59] #37 closed

[2018-02-07 02:26] scotty-c commented on #60
@nickperry let me raise a ticket internally as a bug for this

[2018-02-08 09:32] scotty-c commented on #59
@exarkun By default, the module will install weave for CNI plugin.
In the newer versions, there is a choice, although I don't think this is the issue.
What do the etcd logs say?

[2018-02-08 09:38] scotty-c commented on #40
I am closing this issue due to inactivity, please reopen it if you are having issues

[2018-02-08 09:38] #40 closed

[2018-02-09 09:15] Bengrunt commented on #59
Hi there,

I've got the same issue on CentOS7 using v1.0.2 and weave.

I think it comes from a deadlock in the configuration of the `bootstrap_controller` node.
On this particular node, there is a step in  `service.pp` on [line 78](https://github.com/puppetlabs/puppetlabs-kubernetes/blob/f70ce655e8783eb320f24a6abf63cb560d1b0a5a/manifests/service.pp#L78).

It waits for the Kube API server to boot u

[2018-02-09 09:24] scotty-c commented on #59
@Bengrunt you don't need configuration at all. There is a working example here with Puppet https://github.com/puppetlabs/kream and another project that uses CNI https://kubernetes.io/docs/setup/independent/install-kubeadm/ you will see the same in the logs until the CNI provider is installed. As soon as the kubelet service is started you should see etcd come up first. The code on line 78 makes sur

[2018-02-09 09:29] Bengrunt commented on #59
My bad @scotty-c , etcd is created but crashed. When i look at the container logs I see something a bit weird:
[code]
I feel like if it's trying to resolve the `etcd-{MASTER_NAME}` and fails which is normal since it does not exist. However, I didn't prefix the names of my etcd hosts with `etcd-` ...

Maybe that the missing CNI configuration does not really prevent the kube-apiserver from starting

[2018-02-09 09:32] Bengrunt commented on #59
Okay @scotty-c , our messages crossed :)

So, do I need DNS resolution names starting with `etcd-` on my etcd nodes?

[2018-02-09 22:15] scotty-c commented on #59
So from the logs, it looks like you variables are not passing to hiera
`2018-02-09 09:17:40.601006 I | embed: listening for client requests on {MASTER_IP}:2379`
The master ip needs to be an ip. The etcd name needs to be unique as its used for the raft consensus

[2018-02-11 19:24] nickperry opened #62 "Non-RFC1918 addressing used for weave pod networking - typo?"
https://github.com/puppetlabs/puppetlabs-kubernetes/blob/b55e5cfe60e8bccdb518a79981444a59a3d3391b/tooling/kube_tool/other_params.rb#L18

Is this a typo and the IPALLOC_RANGE should be 10.32.0.0/12 not 100.32.0.0/12?

[2018-02-11 22:27] davejrt commented on #62
@nickperry This address space was used to work around conflicts experienced on some virtual infrastructure and weave not starting correctly as a result. It was purposefully done, however can obviously be changed to suit your individual environment by removing the `\&env.IPALLOC_RANGE=100.32.0.0/12` portion of the value

[2018-02-11 22:58] nickperry commented on #62
OK, I can see that. It's feels kinda wrong though doing reverse resolution of pod IPs and getting answers for  verizon broadband addressing. I guess it wouldn't pose a real problem unless you actually tried to connect from a pod to a service hosted in the real 100.32.0.0/12.

[2018-02-12 09:46] Bengrunt commented on #59
Thanks for the answer.

That is not a DNS resolution issue. I found what was wrong in my `etcd_initial_cluster` value: you need to use host names in the format "etcd-{NODE_NAME}" because this is what is hard-coded as the node name when the etcd container is booted, as can be seen [here](https://github.com/puppetlabs/puppetlabs-kubernetes/blob/f70ce655e8783eb320f24a6abf63cb560d1b0a5a/templates/etcd

[2018-02-13 15:10] cbricart commented on #62
maybe that's meant to be some /12 within 100.64.0.0/10 instead - which would be https://tools.ietf.org/html/rfc6598 addressing..?

[2018-02-13 22:46] #62 closed

[2018-02-14 15:00] Bengrunt opened #65 "Calico nodes can't connect to etcd"
Hey there, I'm trying to deploy a Kubernetes cluster with puppet, using six CentOS7 VMs (3 controllers and 3 workers). I'm using puppetlabs-kubernetes v1.0.3.

I've dropped weave and tried using calico instead.

I use the following facts in puppet to do so:
[code]

Deployment goes well, until calico tries to boot.
[code]

When i give a look at calico nodes logs, I get:
[code]

I tried to look a li

[2018-02-14 15:45] itilitymaarten opened #66 "Unavailable default version for kubernetes-cli/wrong default version for kubernetes-cni"
I'm trying to set up a kubernetes cluster using this puppet module, but I've run into an error: `Version '0.5.1-01' for 'kubernetes-cni' was not found`. When checking apt (using `apt search kubernetes-cni`), it indeed shows that only version 0.6.0 is known.

The readme indicates that 0.5.1 is the default, and the actual values in params.pp say 0.5.1-01 (I'm running on Ubuntu 16.04). However, the d

[2018-02-16 11:19] davejrt commented on #66
@itilitymaarten I'll have a look at this and see where we need to make any changes to the doco

[2018-02-19 00:10] scotty-c commented on #65
@Bengrunt We don't support Calico at the moment. In saying that I am looking at it now to bring it into support. Its only at its initial stages. We do support Weave and Flannel

[2018-02-19 02:03] scotty-c commented on #66
fixed in #67

[2018-02-19 02:03] #66 closed

[2018-02-20 07:59] scotty-c commented on #60
@nickperry This ticket will make it into our next sprint, just an FYI

[2018-02-22 04:06] scotty-c commented on #65
@Bengrunt The ticket for this work will go into our next sprint

[2018-02-22 08:38] Bengrunt commented on #65
@scotty-c Thanks for the heads up and for your work on this. I'm looking forward to it :+1:

[2018-02-24 04:45] gtaylor commented on #65
Will this include Calico in datastore mode? We'd rather not maintain another etcd cluster for CNI.

[2018-02-25 06:48] scotty-c commented on #65
@gtaylor that is one option we are looking at now

[2018-03-02 04:32] davejrt commented on #60
@nickperry are you changing anything else in the params to register your nodes by their fqdn?

[2018-03-02 09:18] nickperry commented on #60
@davejrt I used wildcard certs and used kubernetes::bootstrap_controller_ip: "<my_master_hostname_spec>.%{::domain}" (FQDN) instead of an IP address.

This was necessary to work around to work around https://github.com/puppetlabs/puppetlabs-kubernetes/issues/52 .

[2018-03-02 10:19] itilitymaarten opened #70 "Cannot use API server certificate for both external kubectl and internal kubelet"
I am using kubetool to generate my hieradata for me, including of coures all certificates:
[code]

Using kubectl, I can reach my Kubernetes API server without issue. However, Kubelet is not able to reach it. Occasionally, it will complain that the certificate was not signed for the IP 10.2.3.7, only for <PUBLIC IP> or 10.96.0.1.

Where is this 10.96.0.1 coming from? Shouldn't this be equal to my m

[2018-03-02 11:19] Ananasr opened #71 "Cannot run beaker tests"
I'm trying to run beaker tests. When I run ` bundle exec rake beaker`, it returns nothing.
Step to reproduce :
- clone the repo
- `bundle install --path vendor`
- `bundle exec rake beaker` (or `BEAKER_set=centos-72-x64 bundle exec rake beaker`)

[2018-03-02 18:37] itilitymaarten commented on #70
Okay so I've figured out that 10.96.0.1 is the ClusterIP used by the kubernetes server, so I assume the idea is that other pods try to find kubernetes at this ip address and therefore the certificate has to be valid for this IP?

I've managed to get my cluster working, but only by using the public IP address for the `BOOTSTRAP_CONTROLLER_IP`. I end up with the following command for kubetool:

[cod

[2018-03-03 10:41] scotty-c commented on #70
@itilitymaarten Most of the issues that you have listed here are Kubernetes related and not really issues with the module. For example `ETCD_INITIAL_CLUSTER` =! ` ETCD_IP ` if you have multiple controllers being spun up for the initial cluster. As for the networking inside Kubernetes all the pods hit the kube api on the internal address `10.96.0.1` `kubectl` and outside services hit the node ip. A

[2018-03-03 10:43] scotty-c commented on #71
@Ananasr that is because the beaker tests are set to hit our internal infrastructure by default. You will need to pass the vagrant flag.

[2018-03-03 10:50] scotty-c commented on #70
@ianscrymgeour If you are new to Kubernetes I would start here https://github.com/puppetlabs/kream
This is a project that allows you to play with the module so you can understand all the moving parts

[2018-03-05 04:39] scotty-c commented on #59
Closing

[2018-03-05 04:39] #59 closed

[2018-03-05 13:20] itilitymaarten commented on #70
@scotty-c thank you for your responses. I had seen Kream, but since I don't have a physical machine with Linux (or macOS) available to me, I instead chose/have to work with VMs hosted in Azure.

I think my biggest issue is understanding the documentation and the assumptions made by this module, especially surrounding the arguments for kubetool.
`IP` isn't mentioned at all in the readme, but I thin

[2018-03-05 21:47] scotty-c commented on #70
@itilitymaarten I will take this on board and create a ticket to work on the docs. In regards to the ip in kream we use an internal ip `172.17.10.101` and it works as we add it to the sans list. There could be 2 issues here
1) the internal ip of the compute resource is overlapping with the service ip range in Kubernetes
2) The internal ip is not in the san on the api servers cert.

More than happy

[2018-03-06 07:29] itilitymaarten commented on #70
@scotty-c Thanks for your help then :) I'd be happy to review the changes to docs from a novice standpoint, if you like.

Assuming you're talking about the `BOOTSTRAP_CONTROLLER_IP`: I used an internal IP too, but it didn't get signed into the cert. The only IP's in the cert are the public IP of my master's loadbalancer, and the `10.96.0.1`. However, I now believe that's correct. The IP should be

[2018-03-06 07:50] scotty-c commented on #70
So the etcd cluster needs to be established for the cluster to come up. So if you are creating a cluster of 3 controllers it would be best to run puppet at about the same time. Once the etcd cluster is ready the kube api server will be available.

What networking cni provider are you using? That will help me work out why kubedns is not starting.

[2018-03-06 07:57] itilitymaarten commented on #70
I'm using weave, just the default arguments for kubetool (i.e. `CNI_PROVIDER=weave`), which turns into
[code]
in my hiera data.

I've found the following in the logs:
[code]
The "Checking for dns to be deployed" repeats until 50 and then determines it failed, obviously.
The queer thing to me: should the bootstrap controller be showing that it's ready before dns is installed 'n ready? When using `k

[2018-03-06 10:25] scotty-c commented on #70
At the time do you have any nodes? what does the output of `kubectl get pods --all-namespaces` show you ?

[2018-03-06 10:27] itilitymaarten commented on #70
I had no nodes in the cluster, just the 3 masters. I don't have the actual output of `kubectl get pods --all-namespaces`, but it showed all pods running except for the kube-dns pod, which showed 0/3 with `ContainerCreating`.

[2018-03-06 10:31] scotty-c commented on #70
So i think you have no nodes to schedule on. We can test this by adding `kubernetes::taint_master: false` to hiera or add a worker node. Both will give you the same outcome.

[2018-03-06 10:33] itilitymaarten commented on #70
This is what I already did; when I add that, everything works. But shouldn't the masters show that they're ready before we add any nodes? That's what I expected... perhaps this is still some Kubernetes knowledge missing on my side :)

[2018-03-06 10:37] scotty-c commented on #70
So from Kubernetes point of view, the cluster is ready, it will take your commands and queue them up until a worker node is available. By default, Kubernetes won't deploy worker tasks to controllers. This is even documented in the kubeadm docs  https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#master-isolation

[2018-03-06 12:16] itilitymaarten commented on #70
Yeah I know that, but I thought kube-dns has to run on the masters too. Additionally, I figured that since two of the masters were showing they weren't ready yet, the cluster wouldn't be in a ready state. I will try again with the taint, but then including a worker node as well. Assuming that works well, I have my cluster running :)

The last thing I'm wondering about: how much of my struggles cou

[2018-03-06 22:29] davejrt commented on #60
@nickperry can you please pass me the output of `kubectl get nodes -o yaml`...I'm mostly interested in the top portion with the labels and the node name.

[2018-03-08 22:15] nickperry commented on #60
@davejrt how come the fix got reverted? Worked well for me.

Here is the output you asked for:

apiVersion: v1
items:
- apiVersion: v1
  kind: Node
  metadata:
    annotations:
      node.alpha.kubernetes.io/ttl: "0"
      volumes.kubernetes.io/controller-managed-attach-detach: "true"
    creationTimestamp: 2018-03-08T16:46:40Z
    labels:
      beta.kubernetes.io/arch: amd64
      beta.kubernetes

[2018-03-08 23:30] davejrt commented on #60
@nickperry it was reverted because it caused an issue if the node name wasnt your fqdn which is the default behaviour of the module.

Im curious to know how your node name is the fqdn if the hostname and fqdn facts are different

[2018-03-09 10:57] nickperry commented on #60
I'm not sure why mine is behaving differently. How would you feel about the role / taint logic supporting both hostname and fqdn, by determining which to use from the output of a kubectl get nodes?

[2018-03-09 11:00] davejrt commented on #60
@nickperry we definitely are not opposed to that, in fact @scotty-c have been spitballing this idea internally. We are more just interested in why your setup specifically behaves differently. I suppose we are just trying to weed out the edge cases a bit more.

But definitely your suggestion of supporting both is something we're open to. It's just a case of a determining why yours picks up the fqdn

[2018-03-09 11:04] nickperry commented on #60
Happy to provide any additional information that might be useful to figure out why. Really, the only place where I've gone off piste at all is (as mentioned above) my using an fqdn for kubernetes::bootstrap_controller_ip. But I really need to be able to do that.

[2018-03-09 11:08] davejrt commented on #60
Thanks Nick, I'm going to play around a little more with the kream environment and see if I can some up with something more concrete, but I'm more than happy to implement the hostname and fqdn in final solution once I track down where the discrepancy is.

Appreciate your patience and feedback.

[2018-03-12 00:58] scotty-c commented on #70
@itilitymaarten We are a ticket in the current sprint to update the documentation that will make the next release of the module.

[2018-03-14 17:12] devcfgc commented on #65
@scotty-c Can you guys perhaps push your branch with your updates on calico (you could tag it as work in progress)? I'd love to be able to configure calico :grinning: ASAP so I'm glad to help testing it or with whatever you guys need

[2018-03-15 17:28] mrwulf opened #78 "Kube-proxy configured to be using proxy-mode = userspace and a really old version"
This is less of a feature request or bug report and more of a question of intent...
I noticed the `kube-proxy-daemonset` that gets created by this project is using a really old version (1.6.6) and is hardcoded to the userspace mode. Neither of these is the default and I couldn't find any reasoning behind configuring it this way.

Why isn't the `kube-proxy` version independent? (like `kube-dns-daem

[2018-03-15 22:22] scotty-c commented on #78
@mrwulf The userspace mode is set for backwards compatibility to 1.6 I am working on adding Calico support now. This will also fix the issue of the kube proxy versioning not available as a param

[2018-03-16 02:16] vrmerlin opened #79 "Basic Kubernetes installation failing on yum steps"
## What you expected to happen?

Kubernetes to install on my node

## What happened?

I get this error:

[code]

## How to reproduce it?

Puppetfile contents:
[code]

Here's the simple code I used:
[code]

## Versions:

[code]

[2018-03-16 03:02] scotty-c commented on #79
@vrmerlin this has been fixed in master and will make the next release. If you want to use the module you have and not master change the the cni version to ` $cni_version = '0.6.0'` or in hiera `kubernetes::cni_version: 0.6.0`

[2018-03-16 15:24] vrmerlin commented on #79
I switched to the master branch, so my Puppetfile now contains this:

[code]

I removed all my modules, and re-grabbed them with r10k, to make sure I was using the master branch.

However, I still get the same errors:

[code]

[2018-03-18 17:07] nickperry opened #80 "Add support for adding additional pki certificate files"
**  FEATURE REQUEST **

We need to be able to manage addtional PKI certs under /etc/kubernetes/pki, beyond those currently defined in config.pp's $kube_pki_files,

Our immediate use-case is to add a CA cert for our OIDC auth server. The module gives us the flexibility to tell kubernetes where the OIDC CA file should be (by adding --oidc-ca-file=/etc/kubernetes/pki/dex-ca.crt to kubernetes::apiserv

[2018-03-18 18:04] nickperry commented on #80
Currently getting by with:

  File <| title == '/etc/kubernetes/pki' |> {
  } ->

  file{'/etc/kubernetes/pki/dex-ca.crt':
    ensure  => file,
    content => hiera('profile_kubernetes::dex_ca_crt')
  }

  class {'kubernetes':
    bootstrap_controller_ip => $bootstrap_controller_ip,
    controller              => true,
    bootstrap_controller    => true,
  }

[2018-03-19 00:35] scotty-c commented on #79
@vrmerlin There was a design choice not to add the Docker module as a dependency to this module as all you need from Docker is the package. As the work on cri-containerd moves along I think you will see that become the default runtime for the cluster. So we have added that already. So we won't be adding the Docker module to this module.

[2018-03-19 17:32] nickperry commented on #78
I can't get any traffic to reach a destination pod via kube-proxy services in my puppetlabs-kubernetes module built 1.9.3 cluster (weave pod networking). However, I have no such problems on my kubeadm built clusters (also 1.9.3 with weave pod networking). They're using iptables mode:

   kube-proxy:
    Image:  gcr.io/google_containers/kube-proxy-amd64:v1.9.3
    Port:   <none>
    Command:

[2018-03-19 21:05] scotty-c commented on #79
@vernelindner can you please try master now without applying the Docker module. We added some small changes yesterday to make the module work more efficiently on RHEL

[2018-03-19 22:41] scotty-c commented on #80
@nickperry This is an interesting one. Let me think of a way we can add it to the module neatly. I will update this issue when I have some ideas and run it past you.

[2018-03-20 04:06] davejrt commented on #60
fixed in PR #76

[2018-03-20 04:06] #60 closed

[2018-03-21 20:56] mrwulf commented on #78
I've added a PR that removes the explicit parameter, but allows you to specify the kube-proxy version. I did some testing (albeit only with newer versions of k8s) and couldn't notice/measure and difference between userspace or iptables modes. Nearly everyone uses iptables mode these days though, so default == better.

[2018-03-21 23:33] scotty-c commented on #78
@mrwulf As mentioned above we need to be able to support older versions of K8 as well. I am working internally on what that model looks like and how it affects the code base. I don't want `if version` throughout the code. It will just not scale.

[2018-03-21 23:54] scotty-c commented on #78
@nickperry I have just tested the module on 1.9.4 with Weave and was able to install consul and hit the service. Can you open a separate issue? I am keen to see whats happening there. I don't want it to take over this issue.

Thanks in advance

[2018-03-22 15:48] andrestei opened #83 "Setting kubetool options for HA setup"
Hi,
I have some problems to find the correct syntax when trying to generate the hiera values and certificates for HA setup.
As far as I understand, I need to set all controller IPs at the ip-option for kubetool, else the installation will fail because certificate is not valid for IPs of the controller nodes.

[code]
So, this will be stored into "ip" and taken by
[code]
That makes me think, that I

[2018-03-22 22:57] scotty-c commented on #83
@andrestei Can you fill out the information template that is presented to you when opening the issue
Cheers

[2018-03-23 09:18] andrestei commented on #83
@scotty-c sure.

## What you expected to happen?
Installation of Kubernetes v1.9.5 with 3 master and 2 worker nodes in HA setup with proxy in front of the API servers

## What happened?
Installation fails because of api certificate not valid for IP of master, installation does not succeed

## How to reproduce it?
redeployment

## Anything else we need to know?

## Versions:
REPOSITORY

[2018-03-23 15:42] puppetlabs-kubernetes opened #85 "kubernetes Module that support puppet 5 ?"
Does this module ( kubernetes ) supports Puppet 5, I want to confirm since I see supports Puppet >= 4.2.1 < 5.0.0?  however do you have any kubernetes module that support puppet 5

Thank you

Erian
[code]

[2018-03-26 00:02] scotty-c commented on #85
@puppetlabs-kubernetes This module does support Puppet 5. On the next release, we will changes the metadata.json to reflect that.

[2018-03-26 00:02] #85 closed

[2018-03-26 00:03] scotty-c commented on #83
@andrestei Thanks for the update. I will go through the logs and see what I can find.

[2018-03-27 16:17] achevalet commented on #83
@andrestei I make it working by setting <IP of haproxy> into IP, KUBE_API_ADVERTISE_ADDRESS and BOOTSTRAP_CONTROLLER_IP. The help is not clear about that.

[2018-03-27 23:09] mrwulf commented on #83
I ran into similar issues and submitted PR #82 with slightly more description:

`IP`: the cluster api IP. When in production, should be load balanced between the controllers.

[2018-03-28 07:35] andrestei commented on #83
Ok, finally I made it run.
Setting IP to the IP of the bootstrap-controller and fqdn to the fqdn of haproxy.
Initially while puppet run the bootstrap-controller tries to reach itself via IP. Later the communication goes via fqdn.

Afterwards the workers are ready, but not the masters. This is due to a problem with flannel, not starting the pods on the master server, because of the taint I have not

[2018-03-28 12:50] andrestei commented on #83
Ah, ok - setting $kubernetes::params::apiserver_extra_arguments should do the trick with apiserver-count.

[2018-04-05 13:25] Zetten commented on #80
This should be made possible by #89 which solves the same problem in my environment.

In my case I want the system CA bundles, since my dex server is exposed with a Let's Encrypt certificate, so I need to fix the broken symlinks from my host's `/etc/ssl/certs`. But mounting a specific dir/file would be possible too.

[2018-04-05 17:25] mrwulf commented on #78
PR #82 is in now and allows a custom kube-proxy version. `proxy-mode=userspace` was removed so the proxy mode will be whatever the default is for that version. Pick a version with the default proxy-mode of iptables (or eventually ipvs) if you want something else.

[2018-04-05 17:25] #78 closed

[2018-04-10 12:49] AranVinkItility commented on #79
I can see the 1.0.3 version failing on the incorrect yum repo being added; https://yum.dockerproject.org/repo/main/redhat/7 which does not exist anymore.
Switching to master branch of this repo fixed it for me.

When can we expect a new release, since 1.0.3 is broken for RedHat/CentOS at this moment?

[2018-04-15 16:59] scotty-c commented on #79
@AranVinkItility that will be coming in the next day or so

[2018-04-16 06:52] scotty-c commented on #79
closing due to the fix being released in v1.1.0

[2018-04-16 06:52] #79 closed

[2018-04-16 06:55] #83 closed

[2018-04-16 14:58] scotty-c commented on #65
There is calico support in v1.1.0

[2018-04-16 23:58] vrmerlin opened #95 "Basic install of Kubernetes failing for me"
## What you expected to happen?

I expected the module to do a basic installation, given the following:

## What happened?
I got this error:

[code]

## How to reproduce it?

I didn't change anything from the basic example given by the documentation:

[code]

## Anything else we need to know?

This was a fresh system setup, with no previous installation via puppet.

## Versions:
[code]

$ puppet m

[2018-04-17 06:37] AranVinkItility commented on #95
Could you check your generated YAML file? It should contain the following keys:
`kubernetes::kube_api_service_ip: <ip>
kubernetes::kube_dns_ip: <ip>`
I ran into a similar issue when using an older version of the kubetool image.

[2018-04-17 10:04] micah opened #96 "Support repo parameters"
It would be nice if the apt source repos could be parameterized, instead of being hard-coded.

On a Debian stretch machine, it doesn't make so much sense to use the release `kubernetes-xenial` when it should instead be `kubernetes-stretch`, nor does it make sense to use the `ubuntu-xenail` release for the docker apt source, when there is a `debian-stretch` one.

[2018-04-17 13:12] scotty-c commented on #96
@micah We are only supporting Ubuntu officially in this module. More than happy to look at a PR to add support for Debian

[2018-04-17 15:42] vrmerlin commented on #95
Hmmm, my YAML file does contain that information, but i'm wondering if it's not finding it? Here's what I have:

[code]

The file ```site\profiles\manifests\kubernetes\master.pp``` contains the code you see in my first message. Given that, is my ```kubernetes.yaml``` file in the right location? I also tried ```site\profiles\files\kubernetes\kubernetes.yaml``` as well, but that didn't work either.

[2018-04-17 15:56] AranVinkItility commented on #95
I'm not that good at Hiera, but my guess is there should be a hiera.yaml in the root of your module. This tells Hiera where it can look for the configuration data. Not sure what the default folders are if you don't have a hiera.yaml. Maybe the docs can help:
https://puppet.com/docs/puppet/5.0/hiera_config_yaml_5.html

[2018-04-17 16:26] vrmerlin commented on #95
Ok, i was able to get it to work. Two issues: 1) I needed to create the ```hiera.yaml```  file to point to the the ```kubernetes.yaml``` file, and 2) I was in a "development mode", using ```puppet apply...```, so i needed to add the ```--hiera_config=hiera.yaml``` flag so it could find the configuration file.

Thanks for the help!

[2018-04-17 16:26] #95 closed

[2018-04-17 17:03] vrmerlin commented on #79
This still isn't working for me; i just tried it again, with 1.1.0.  I'm getting the error:

[code]
The ```/etc/yum.repos.d/docker.repo``` contains this:

[code]

This looks suspicious, because I am on RedHat 7, not Centos. The files in that baseurl location all have 'centos' in it. I understand that centos RPMs can run on Redhat, but just running the yum command standalone doesn't install the pac

[2018-04-17 20:02] micah opened #97 "network plugin is not ready: cni config uninitialized"
## What you expected to happen?
Kubernetes to get installed and configured, with weave, with one master, and two nodes.

## What happened?
It seems as if the puppet recipes all ran and the various pieces got installed, but weave doesn't appear to be working properly.

[code]

## How to reproduce it?
Workers have this configured in puppet:
[code]

Master has this:
[code]

## Anything else we need t

[2018-04-18 06:52] scotty-c commented on #97
@micah the version of Docker you are running is not supported. https://kubernetes.io/docs/setup/independent/install-kubeadm/#installing-docker
It needs to be 1.12 or 17.03

[2018-04-18 06:55] #65 closed

[2018-04-18 07:11] AranVinkItility commented on #79
The CentOS packages are the correct ones, since Docker does not release RedHat packages through Yum (just check the yum repo root at https://yum.dockerproject.org/repo/main/)

As to why it has nothing to do: what happens when you run `docker --version`?

[2018-04-18 08:54] micah commented on #97
Scott Coulton <notifications@github.com> writes:

Thanks for noticing that, I thought using the most recent package from
docker would work. I'll get one of the supported ones installed and see
what happens.

But... its not clear to me if I just install the right docker version,
and then run puppet, if things will work, or if I will need to tear
everything down and start again.

If I were to tear e

[2018-04-18 09:29] micah commented on #97
micah <micah@riseup.net> writes:

I tried to just change the docker version in puppet, and re-run puppet,
but it didn't change the situation (even rebooted).

I then tried the above, plus a reboot, and then re-ran puppet, but i'm
still getting the cni config uninitialized, no networks found in
/etc/cni/nets.d and the 'weave' container failing:

Apr 18 09:26:39 kube01 kubelet[2057]: I0418 09:26:39.

[2018-04-18 14:39] ndelic0 commented on #79
Have the same problem here.
Module will install only docker-engine package from official docker repo. That one will get in conflict with docker packages install from centos extras.

Solved this with uninstalling centos packages.

[2018-04-18 15:34] vrmerlin commented on #79
@AranVinkItility  I can't give the docker version number -- that's the problem! The docker package that the Kubernetes module is attempting to install, given the repo setup it does and the docker package name, doesn't work.

[2018-04-18 21:53] micah commented on #97
Scott Coulton <notifications@github.com> writes:

I'm not very familiar with Weave, so I'm not really sure how to obtain
these logs.

In /var/log/containers on the nodes and master, I do see these:

[code]

The first one seems to be just repeating the following:

[code]

The second one only has these two lines:

[code]

Are there better logs that would help?

[2018-04-19 09:43] AranVinkItility commented on #79
@vrmerlin I see you are using an older version of the Kubernetes module (1.0.3)
Can you try changing it to 1.1.0? I'm running 1.1.0 myself on RHEL 7.4 and did not run into this issue.

So try changing `mod 'puppetlabs-kubernetes', '1.0.3'` to `mod 'puppetlabs-kubernetes', '1.1.0'` in your Puppetfile

[2018-04-19 11:05] AranVinkItility commented on #79
@vrmerlin I just checked my yum repo config and it's the same as yours.
If I run `yum repo list docker*` it gives me the following output:
[code]

Running the 1.1.0 module on a clean RHEL 7.4 machine gives me the following output:
[code]
Is this the same output as you are getting? (minus the errors of course)

[2018-04-19 14:42] scotty-c commented on #97
@micah Those logs are fine, what do you have set for your cluster and node cidr ?

[2018-04-19 14:59] micah commented on #97
Scott Coulton <notifications@github.com> writes:

from the hieradata:

[code]

the full hieradata, minus the certs:

[code]

[2018-04-24 13:22] micah opened #98 "Kubernetes 1.10:unknown flag: --require-kubeconfig"
Because I have not been able to get the network overlay to work in my configuration, I decided to try 1.10 of kubernetes as the module says it supports 1.6 and newer.

Unfortunately, on deploy, the following is produced:

[code]

[2018-04-24 13:42] AranVinkItility commented on #98
AFAIK Kubernetes 1.10 is not supported by this module yet. Ran into the same issues myself when testing.
Some manifests/templates assume k8s 1.9 is latest and revert to older behavior when there is no match:
https://github.com/puppetlabs/puppetlabs-kubernetes/blob/1.1.0/manifests/packages.pp#L14
https://github.com/puppetlabs/puppetlabs-kubernetes/blob/1.1.0/templates/kubernetes.conf.erb#L3

[2018-04-24 13:48] micah commented on #98
Yeah, I agree... its just the README says:

[code]

so maybe that should be adjusted!

[2018-04-25 20:57] scotty-c commented on #98
@micah I have updated the README in master, there is work being carried out for a 2.0 release of the module that will support 1.10.x and above

[2018-04-25 20:57] #98 closed

[2018-04-27 03:34] scotty-c commented on #97
The only thing that stands out is that you are using `tun0` for the api and it looks like weave cant speak to it. Have you tried testing it with a standard interface like `eth*` ?

[2018-05-02 09:35] leoncard commented on #98
@scotty-c It's good to know you guys are working a version to support 1.10+, thank you.
Do you guys have an idea of when it will be released?

[2018-05-02 09:38] scotty-c commented on #98
@leoncard Not this week as I am at KubeCon EU, so more likely next week when I get home. There is another person working on it with me. He has also been travelling so we need to sync up. I would say most likely next week or the week after

[2018-05-02 09:54] leoncard commented on #98
@scotty-c Nice! Thank you :)

[2018-05-05 06:32] ndelic0 commented on #97
@scotty-c @micah Using almost same hiera configs.

kubernetes::kubernetes_package_version: 1.9.2
kubernetes::container_runtime: docker
kubernetes::cni_network_provider: https://git.io/weave-kube-1.6
kubernetes::cni_cluster_cidr: 10.32.0.0/12
kubernetes::cni_node_cidr: true
kubernetes::cluster_service_cidr: 10.96.0.0/12
kubernetes::kubernetes_fqdn: k8s-ctl-01.poc.local
kubernetes::bootstrap_control

[2018-05-05 06:40] scotty-c commented on #97
@micah the kube api server is in crashloop. What do your etcd logs look like ?

[2018-05-05 07:12] ndelic0 commented on #97
{"log":"2018-05-05 07:08:56.224618 I | etcdmain: etcd Version: 3.1.11\n","stream":"stderr","time":"2018-05-05T07:08:56.22616Z"}
{"log":"2018-05-05 07:08:56.224726 I | etcdmain: Git SHA: 960f4604b\n","stream":"stderr","time":"2018-05-05T07:08:56.22621552Z"}
{"log":"2018-05-05 07:08:56.224734 I | etcdmain: Go Version: go1.8.5\n","stream":"stderr","time":"2018-05-05T07:08:56.226225242Z"}
{"log":"2018

[2018-05-09 17:51] esalberg commented on #97
In case it helps:
We had to setup the configuration so that the etcd --name parameter matched what was set in --initial-cluster.  If you look in /etc/kubernetes/manifests/etcd.yaml:

spec:
  containers:
  - command:
    - etcd
    - --name=etcd-kuberdev01
    - --listen-client-urls=http://<ip>:2379,http://127.0.0.1:2379
    - --listen-peer-urls=http://<ip>:2380
    - --advertise-client-urls=http:/

[2018-05-09 17:56] esalberg commented on #97
We have the same issue right now as @micah (our etcd is fine, unlike @ndelic0 ).

From this error:
ERROR: logging before flag.Parse: E0509 17:43:03.140347   30226 reflector.go:205] github.com/weaveworks/weave/prog/weave-npc/main.go:228: Failed to list *v1.Namespace: Get https://10.96.0.1:443/api/v1/namespaces?resourceVersion=0: dial tcp 10.96.0.1:443: connect: no route to host

What is responsible

[2018-05-10 19:16] ndelic0 commented on #97
@esalberg Thanks - solved that issue. Later on had a problem with hostname - twas fixed with overriding the node label parameter like this `kubernetes::node_label:  "%{::fqdn}`.
Issue with  `connect: no route to host`in my case has been solved by replacing weave with flannel. Big thanks to @scotty-c .

[2018-05-10 21:08] scotty-c commented on #97
@esalberg kube api server is responsible for setting up the address `10.96.0.1`

[2018-05-11 14:35] KlavsKlavsen commented on #96
Ubuntu-bionic would also be nice..

[2018-05-16 14:02] Zetten opened #100 "Configuration of kubelet daemon arguments"
I might have overlooked this, but is there a way in this module to configure and pass extra arguments to the kubelet service?

For example, I have edited `/etc/systemd/system/kubelet.service.d/override.conf` to start the kubelet server with an additional authentication method:
[code]

I'm not sure all such parameters can be managed solely in `kubelet.conf`.

I would try and raise a PR but I'm not

[2018-05-22 07:39] scotty-c commented on #100
@Zetten there is a new release that is just waiting on QA sign off that will fix this

[2018-05-22 13:28] esalberg commented on #97
Yes, sorry, I didn't come back here because it wasn't our ticket.

We fixed the issue - turns out the kube-proxy wasn't coming up properly for a couple of different reasons.

[2018-05-22 21:28] esalberg opened #103 "Bootstrap controller - check if cni provider has been installed?"
## Versions:
[code]

It looks like the main reason that the bootstrap_controller flag has to be manually turned off after bootstrap is because there's no gate on the following exec:

    exec { 'Install cni network provider':
      command => "kubectl apply -f ${cni_network_provider}",
      onlyif  => 'kubectl get nodes',
      }

I was looking into possible ways to be able to tell if the network

[2018-05-23 23:04] scotty-c commented on #103
@esalberg kubernetes can tell you this through the cluster state.
What is the issue you are seeing that you need this functionality.

[2018-05-24 20:37] esalberg commented on #103
Right now, if you leave bootstrap_controller set to true, it reinstalls the cni provider every run.

I know the documentation says to set bootstrap_controller to false after bootstrapping is done, but it would be really nice not to have to do that.

[2018-05-24 20:40] vinixavier commented on #103
Up @esalberg
Here happens too.

[2018-05-28 11:02] scotty-c commented on #103
@esalberg and @vinixavier this has been fixed in the next release.

[2018-06-01 03:05] scotty-c commented on #103
Closing due to #106 being released

[2018-06-01 03:05] #103 closed

[2018-06-01 03:29] scotty-c commented on #97
closing due to fixes in #106

[2018-06-01 03:29] #97 closed

[2018-06-01 18:20] cdenneen commented on #71
@scotty-c these need to align in PDK at some point... acceptance isn't a rake task in PDK and vice versa with beaker...

[2018-06-04 04:53] scotty-c commented on #71
@cdenneen it's on the roadmap, it's just not at the top of the priorities as we have other fixes that need to be addressed first. The test are still valid if they are being initiated in the rake file.

[2018-06-04 12:23] pelacables opened #111 "Missing puppet/kubetool:2.0.0 docker image"
According to the project documentation the version of kubetool you use must match the version of the module on the Puppet Forge.  Current forge version is 2.0.2 👍

![image](https://user-images.githubusercontent.com/3243310/40917250-d69e1a3a-6802-11e8-8f2b-4f61b8c43b12.png)

## What you expected to happen?

Docker image pulled from the repository

## What happened?

Image cannot be found:
[code]
##

[2018-06-04 20:50] scotty-c commented on #111
@pelacables The new version of the image `puppet/kubetool:2.0.2` is on Docker Hub

[2018-06-04 20:50] #111 closed

[2018-06-06 17:13] vrmerlin opened #112 "pre-flight checks failing when using module"
## What you expected to happen?

Use of Kubernetes 2.0.2 module installs without errors

## What happened?

I'm getting some errors, one that's critical and prevents things from working:

[code]

## How to reproduce it?

See the command I ran above.

## Versions:

[code]

## Other Logs

The file /etc/kubernetes/config.yaml is probably relevant. I replaced my hostname with foobar, and my IP address

[2018-06-07 08:55] scotty-c commented on #112
@vrmerlin it looks like etcd has not started. Can you confirm that in the logs?

[2018-06-07 19:20] vrmerlin commented on #112
It looks like etcd is indeed running:

[code]
How do i check if the certs are correct and if the services are able to hit it?

[2018-06-11 09:59] rustymunkey commented on #112
I am having the exact same problem. I followed the readme.md to install kubernetes on a clean vm and ran into the same pre-flight error.

[code]

etcd is running:

[code]

Is there any configuration option, that i am missing? I am quite new to the whole kubernetes world, so it could easily be a user error.

[2018-06-11 14:20] oisis opened #114 "Kubernetes puppet module and external ETCd service."
## What you expected to happen?
I would like to use this module to install Kubernetes with external ETCd support. For now there is no way to do it.

## What happened?
Cannot run Puppet without full ETCd configuration, but i do not want to use ETCd as docker containers.

## How to reproduce it?
N/A

## Anything else we need to know?

## Versions:

[code]

## Logs:
==> srv01: Error: Evaluation Error

[2018-06-13 20:59] scotty-c commented on #114
@oisis we made the design choice to add the etcd configuration into this module for support reasons. So we won't be moving that out unless we get a lot of customers asking for it, at the moment that is the case. Also, we won't be adding the docker module as a dependency as we are looking to remove docker completely and use containerd

[2018-06-14 06:04] scotty-c commented on #112
@rustymunkey & @vrmerlin can you copy your hiera files into the issue?

[2018-06-17 07:08] davejrt commented on #100
@Zetten additional arguments for the kubelet are now available via the config file that we use when we exec kubeadm init --config

[2018-06-19 18:21] davejrt commented on #70
All documentation has been updated with the release of v 2.0.0

[2018-06-19 18:21] #70 closed

[2018-06-19 20:28] davejrt commented on #112
@rustymunkey & @vrmerlin in addition to your hiera config, can you run the following with your etcdip and paste the result

`root@kube-master:/etc/kubernetes/pki/etcd# etcdctl --cert-file=server.crt --key-file=server.key --ca-file=ca.crt --endpoints https://<etcd_ip>:2379 cluster-health`

[2018-06-20 08:09] rustymunkey commented on #112
Yeah, sure!

@davejrt There really seems to be a problem with the certificates:

[code]

how do i fix it? I used the **puppet/kubetool** docker images for generating the certificates.

and as requested the hiera.yaml

[code]

[2018-06-20 13:31] davejrt commented on #112
what version of the kubetool are you using? Some of those params are no longer valid in the version of the module. You should be using 2.0.2

[2018-06-21 09:30] KrisBuytaert opened #116 "Debian.yaml or RedHat.yaml aren't generated"
## What you expected to happen?

Running  the example  kubetool to generate the yaml files  with either CentOS or Debian params
docker run --rm -v $(pwd):/mnt -e OS=debian  ....

i'd expect to find a CentOS.yaml or a Debian.yaml
 ## What happened?

It does generate the kubernetes.yaml but not the platform specific yaml files.

docker run --rm -v `pwd`:/mnt -e OS=RedHat -e VERSION=1.10 -e CONTAINER

[2018-06-21 10:35] KrisBuytaert commented on #116
Thnx to the help of @scotty-c  I did figure out that  adding the :2.0.2 param to the container name did actually fix the problem ..

[2018-06-21 10:35] #116 closed

[2018-06-28 09:26] KlavsKlavsen opened #118 "RBAC and version adjustments for calico atleast"
According to https://docs.projectcalico.org/v3.1/getting-started/kubernetes/installation/calico#installing-with-the-etcd-datastore

the Current version of etcd is 3.1 (and path a little diff.), so kubetool needs an update, and also I don't see this module setting up RBAC on etcd, as described in above guide from calico.. ?

Shouldn't there be an "RBAC" switch..or atleast just a "if cni == calico"

[2018-06-29 12:57] AranVinkItility commented on #112
Running into a similar issue with module version 2.0.2 and kubetool 2.0.2.
Etcd is running on all my nodes and the connection snippet works for me.
In my case the kubelet service is not started (same error as @vrmerlin). If I try to start it manually it says it's unable to start:
[code]
This configuration file is missing, however I can't find a mention anywhere in this module. It *might* be the sa

[2018-06-29 20:56] davejrt commented on #112
Can you please provide the log of the puppet run where it bootstraps in the
master node?

On Fri, 29 Jun 2018 at 7:57 am, AranVinkItility <notifications@github.com>
wrote:

[2018-07-02 09:42] KlavsKlavsen opened #121 "Support for using existing etcd"
I was looking at using this module to bootstrap my kubernetes cluster, but does not setup RBAC in etcd, and it does not support setting etcd up in SSL only mode.
i am using cristifalcos/puppet-etcd - and if this module could have an option for using an existing etcd, that would be most useful.

[2018-07-03 10:12] scotty-c commented on #121
@KlavsKlavsen we are not going to add a dependency to an external etcd module. The reason for this is support.  Also this module only supports etcd with ssl, it will not work without SSL. What ssl options are missing ?

[2018-07-03 10:16] KlavsKlavsen commented on #121
I wasn't talking about adding a dependency to an external module - more the option of using an existing etcd cluster (which I could then setup with a diff. module if I wanted to).

[2018-07-06 21:51] vrmerlin commented on #112
Sorry, i'm getting back to this problem after being away on vacation.

@AranVinkItility  That's correct, the file /etc/kubernetes/bootstrap-kubelet.conf is missing for me. You said "Removing kubeadm and reinstalling it solved my similar issue." What do you mean by that? I want to bring up the kubernetes master from a fresh VM without problems or special steps.

@davejrt How do i find that log file

[2018-07-06 21:54] vrmerlin commented on #112
I did notice this in my `/var/log/messages`:

[code]
Is that helpful at all?

[2018-07-09 01:35] scotty-c commented on #121
@KlavsKlavsen that still leaves us with a support issue that I mentioned earlier. This module is supported and if there is an issue with your cluster all the settings are within this module which allows us to support it, if you have any issues in which the kube API server does not start due to the configuration of the external etcd server. How can we support that without a lot of troubleshooting?

[2018-07-09 08:06] AranVinkItility commented on #112
@vrmerlin I removed kubeadm using my OS package manager (yum, RHEL 7 in my case). After that I did a new puppet run and that solved the issue. Could also be that it needed two runs to succeed though, and it was more of a placebo.

[2018-07-09 13:46] KlavsKlavsen commented on #121
well then atleast support using a package instead of downloading an older version of etcd ?
Ubuntu 18.04 has 3.2.17

[2018-07-09 13:50] khaefeli opened #122 "Feature Request: Support Puppet Tasks"
Why: to join Kubernetes Clusters via Puppet tasks managed by e.g. Choria or Bolt.

What:
actually I'd like to see the features, the [autostructure](https://forge.puppet.com/autostructure/kubernetes/tasks#task_kubeadm_init) module supports (but working for Debian based OS)

[2018-07-09 14:11] KlavsKlavsen commented on #121
and just as you depend on other modules for some things (and choose NOT to depend on docker because it was JUST a simple package) - one could argue that you could have an optional dependency for the etcd module I suggest - which supports using Ubuntu 18.04's etcd package and sets it up. Testing it that works or not - is fairly easy, by just calling with with etcd-client.

[2018-07-09 21:52] davejrt commented on #112
@vrmerlin based on the first log you posted and what @scotty-c said your etcd cluster is not starting. Have you verified you're using the correct version of the kubetool for this version of the module.

[2018-07-09 22:20] #100 closed

[2018-07-10 07:39] KlavsKlavsen commented on #121
None of our servers that run public websites - have internet access. (for good reason - if a security flaw is found - the most likely place to find a "canary" - is by blocking traffic to internet - and watching those logs (they should be empty). This is why we have mirrors of everything we use - and package everything. I f.ex. package kubernetes releases - and would like module to support using pa

[2018-07-11 10:58] KlavsKlavsen opened #123 "Fails on Xenial"
I tested out kubernetes module - just vanilla. (latest master), and it fails in kubeadm init with:

 [init] Using Kubernetes version: v1.10.5
.. (above - even though settings say to use 1.10.2)
Kubeadm_init.. [markmaster] Will mark node kube-cam02 as master by adding a label and a taint
error marking master: timed out waiting for the condition

I am assuming its because kube-cam02 points (in hosts

[2018-07-11 11:20] KlavsKlavsen commented on #123
and having $hostname as default is IMHO a security issue, as it relies on your domain search pattern on client (as rendered by dhcp often). If I add a kube-cam01.example2.org - and your search has both domains (and example2 first - or I manipulate dhcp response or.. ) - I will reach kube-cam01.example2.org - and SSL will be perfectly happy - as certificate ONLY has hostname part..
One should alway

[2018-07-11 12:22] KlavsKlavsen commented on #123
Changing settings to:
docker run --rm -v $(pwd):/mnt -e OS=debian -e VERSION=1.10.2 -e CONTAINER_RUNTIME=docker -e CNI_PROVIDER=calico -e ETCD_INITIAL_CLUSTER=kube-cam01:192.168.63.198,kube-cam02:192.168.63.199,kube-cam03:192.168.63.200 -e ETCD_IP="%{::ipaddress_ens192}" -e KUBE_API_ADVERTISE_ADDRESS="192.168.63.29" -e INSTALL_DASHBOARD=true puppet/kubetool:2.0.2

Made cluster setup work for the m

[2018-07-11 23:53] davejrt commented on #123
Can you please create a gist with your hiera file that's being produced?

[2018-07-12 06:09] lzecca78 opened #124 "Upgrade module dependencies version"
Hi guys, i would like to adopt this module but i have newer version of some other module that are currently used by yours:

`{"name":"puppetlabs-apt","version_requirement":">= 4.1.0 < 4.3.0"}`
`{"name":"puppet-archive","version_requirement":">= 2.0.0 < 2.1.0"}`

Is there any reason why both are strictly necessary to those versions? I am currently using them in my project and both are set to versio

[2018-07-12 13:03] KlavsKlavsen commented on #123
https://gist.github.com/KlavsKlavsen/7b3a3d8e0e3796097cbaf69d4493890a (the Debian.yaml file)

[2018-07-13 02:13] davejrt commented on #123
I've tested with the same config, including IP range without any issues using the version from the forge and master.

If you can create the cluster from scratch and recreate the problem can you send all the info, including puppet logs that we request in the template for issues? It's difficult without complete logs. I generally sometimes see errors relating to cri if etcd doesn't start. Regarding t

[2018-07-13 06:51] KlavsKlavsen commented on #123
the node list says 1.10.2.. It must be some "detail" in my xenial setup then or something.

I instead wrote a puppet module using kelsey hightowers approach (ie. not kubeadm - but instead writing config files directly and not using hyperkube) - so I'll just continue down that path for now. Kubeadm is interesting - but I think I'll prefer actually knowing how the configs should look for the few kub

[2018-07-13 06:51] #123 closed

[2018-07-14 02:47] davejrt commented on #123
It's probably worth noting that the previous version of this module used a similar approach, however the feedback we received was that it was too hard to use. In addition to that it became difficult to maintain each release cycle. We moved to kubeadm as now we're protected from a lot of that by installing an upstream distro rather than hand rolling our own.

Thanks for the feedback

[2018-07-16 01:35] davejrt commented on #124
fixed in pr #125

[2018-07-16 01:35] #124 closed

[2018-07-16 21:23] tskirvin opened #126 "the file `.env` is not included in the puppetlabs-kubernetes module on the Forge"
## What you expected to happen?

The documentation in the README.md file indicates that there is a `.env` file included with the package that you can use to build hiera data for deploying Kubernetes via puppet.  This file is not actually included in the puppetlabs module (e.g. https://forge.puppet.com/v3/files/puppetlabs-kubernetes-2.0.2.tar.gz).  It is in the github page.

## How to reproduce it?

[2018-07-17 20:00] vrmerlin commented on #112
@davejrt  as I said in my June 7th posting, it appears that etcd was running successfully. I wasn't trying to run a full cluster version.   I'm not sure what you mean by the correct version of kubetool... doesn't this kubernetes module do the installation of that for me?

[2018-07-18 18:24] vrmerlin opened #128 "Make yum repo creation optional?"
The repos used by this Kubernetes module are hardcoded in the file repos.pp. Unfortunately, I am installing Kubernetes in an environment where we can't easily get out to the internet. For other applications, we've simply mirrored the repos internally, and provided our own yumrepo commands.

Would it be possible to make the yumrepo creations optional, or overrideable?  The way the code is now, inst

[2018-07-18 20:40] vrmerlin commented on #112
I completely reset my VM to an earlier state, so everything was clean, re-generated the YAML using the kubetool (2.0.2), and ran the puppet script again. It all seems to install fine, until the very end, where again I get this error:

[code]

This is my kubetool command (with my hostname set to foobar, and my IP address set to 1.2.3.4):

[code]

Does that look correct?

Argh,

[2018-07-18 23:07] davejrt commented on #112
In my experience those errors are caused by problems with the certificates. Have you considered using KREAM to test the module. You can change whatever you want in the config for that to test out your certificates. Using the environment to develop the module this has generally been the cause of our issues. I'm assuming of course here you're setting up a single node cluster?

[2018-07-18 23:20] vrmerlin commented on #112
This first pass is a single node cluster. Once I figure things out, I'd like to have a master node, and two work nodes.  I'm sorry, I have no idea what KREAM is...?  Did you have a specific test in mind that I should do?

[2018-07-18 23:31] davejrt commented on #126
We'll make sure it's included in the next release

[2018-07-19 15:04] vrmerlin commented on #112
I originally used the ::ipaddress_eth1 fact, but was getting the error:

[code]

i.e. that fact is not one that is available for me. Is that part of the problem?

[2018-07-20 01:57] davejrt commented on #112
Yes, you'll need to use whatever fact corresponds to the interface you want to use.

[2018-07-21 21:10] 2ZZ commented on #112
Also having this problem. I removed `--client-cert-auth` and `--peer-client-cert-auth` from `templates/etcd/etcd.service.erb` to get it running, looks like something is not right with the cert generation

[2018-07-24 11:19] davejrt commented on #128
@vrmerlin you can now disable the creation of the repos, or choose to override them after the commits in #133

[2018-07-24 11:19] #128 closed

[2018-07-24 14:36] khaefeli commented on #121
totally agree with @KlavsKlavsen

=> @scotty-c another point is the param $etcd_version.
I'd expect that if I set a version, then puppet brings my machine into this state.
With the archive / exec approach you can't upgrade without manually removing the binary.

2) Personally I also want to keep my system clean / minimal (e.g. without wget and 3rd party puppet modules)
3) with package you already h

[2018-07-24 21:15] scotty-c commented on #121
@khaefeli, not all OS vendors have etcd packages and if they do they don't have all the versions. For example, Ubuntu 16.04 only has 2.2.5. So what would be the suggestion to for those users?

[2018-07-25 06:04] KlavsKlavsen commented on #121
@scotty-c To NOT tell kubernetes module that they already have an ETCD cluster they want it to use - and your module would do its default - to setup etcd itself :)

[2018-07-25 09:06] scotty-c commented on #121
@khaefeli We are not going to change the module to be able to manage etcd externally as mentioned earlier in the conversation.

I think it is unreasonable to tell people to upgrade there OS to support the etcd version with Puppet when that is not required upstream by Kubernetes or Kubeadm.

There are features that will address some of  the issues in next release we will fix

[2018-07-25 09:06] #121 closed

[2018-07-26 11:38] khaefeli opened #138 "etcd service start timeout"
## What you expected to happen?
if the service hangs, don't wait for the etcd service during the puppet run.

## What happened?
if my etcd service can't start, the puppet runs waits forever because of TimeoutStartSec=0
https://github.com/puppetlabs/puppetlabs-kubernetes/blob/master/templates/etcd/etcd.service.erb#L12

official service file:
https://github.com/coreos/etcd/blob/master/contrib/system

[2018-07-26 20:42] scotty-c commented on #138
@khaefeli can you fill in the rest of the issue template please

[2018-07-30 00:15] #118 closed

[2018-08-08 19:50] vrmerlin commented on #112
@scotty-c  I provided my specific kubetool command, above. Did it look correct? Here it is again (host/IP addresses replaced):

[code]

[2018-08-08 21:39] scotty-c commented on #112
@vrmerlin it looks ok, the most important information has been redacted. What are the etcd logs saying? if there is an x509 issue you will see it there.

[2018-08-09 14:22] khaefeli opened #145 "Containerd service: don't exec modprobe overlay"
## What you expected to happen?
we don't want the containerd service running `/sbin/modprobe overlay` on systems where `$::is_virtual ==  true`

## What happened?
the service tries to load the overlay kernel module.
this doesn't work, because e.g. on LXC the kernel modules are managed on the hostserver.
and the service start fails:

[code]

## How to reproduce it?
Setup a lxc container, install th

[2018-08-10 04:57] davejrt commented on #145
We run this code in vagrant a lot, which has that fact set to true, and don't get this error. I'm not aware that the version of docker you're running is officially supported in 1.11.0 either

[2018-08-10 07:18] khaefeli commented on #145
@davejrt thank you for your answer.
are you also using `containerd` as runtime instead of `docker`?
which kind of virtualization is vagrant using?

there is actually no code in the manifests, which take care of `is_virtual`.
That was my proposal how to fix the issue :)

[2018-08-11 00:34] davejrt commented on #145
I'm confused, are you using docker or containerd as the runtime? You've pasted in an unsupported docker version above.

Can you provide more information about the environment you're seeing this issue on so we can determine whether or not this isn't isolated to your combination of software versions and virutal environment.

[2018-08-13 18:35] khaefeli commented on #145
@davejrt: I'm using `containerd` as runtime. Sorry, for the confusion. I've missed the version command there for containerd (I've updated the initial report now)

Environment:
3 bare metal servers with:
- Kernel 4.17 (linux-image-4.17.0-0.bpo.1-amd64)
- Debian Stretch (9.5)
- LXC 2.0.7-2+deb9u2
- lxcfs 2.0.7-1

The Kubernetes controllers are running inside a LXC container on each host.
Every bare

[2018-08-13 18:58] khaefeli commented on #112
@vrmerlin some ideas:

- make sure `/etc/hosts` / dns is resolving your foobar / hostname configured in etcd
- `hostname -f` should match your ETCD_INITIAL_CLUSTER
- check if kubectl init maybe proxy to an `http_proxy` and tries to access localhost an this proxy (instead of accessing etcd's localhost)
- reset the whole Kubernetes config `kubeadm reset`, regenerate the certs & insert them into hier

[2018-08-13 23:40] scotty-c commented on #138
@khaefeli I have just tested this with both Ubuntu and RHEL and did not see this issue. The service failed to start instantly due to not being able to connect to the initial cluster. what version of systemd are you running?

[2018-08-17 08:44] spali commented on #138
Probably it's a Debian specific thing, I had the same on all three controllers hanging at
[code]
In my case the hostnames are correct.
But etcd had a lot of timeouts in the log (I have to say, that my test cluster is a bit low powered on resources). So I had tls handshake errors due clock difference more than 1 seconds between the peers and also i/o timeouts.

So I think the reason for hanging cou

[2018-08-17 11:35] jonasdemoor opened #151 "Etcd version 3.1.12 always gets installed, even when overriden"
## What you expected to happen?

I expected the module to install version 3.2.18 of Etcd instead of the default version (3.1.12).

## What happened?

Version 3.1.12 is installed instead of the specified version.

## How to reproduce it?

I tried overriding it via Hiera and by directly declaring the class.

Hiera:
[code]
Puppet:
[code]
## Anything else we need to know?

I'm trying to set up a Kuber

[2018-08-17 11:42] jonasdemoor commented on #151
I first noticed this when trying to bootstrap a cluster on our production systems, but I managed to reproduce it on a local Vagrant box. The info above is of the Vagrant environment.

[2018-08-19 13:45] meltingrobot opened #152 "Please remove hard apt requirement (< 4.3.0, >= 4.1.0)"
Trying to update my puppet apt module to 5.0.1 to support Ubuntu 18.04, but we can't due to this module's hard dependency on and apt less than 4.3.0

[2018-08-19 23:13] #152 closed

[2018-08-20 15:36] jonasdemoor commented on #151
@davejrt Thank you for your response. I hardcoded the archive and source URL and it works like a charm.
I might open a PR with a proposal for cleaning things up a bit. I was thinking about adding a flag for enabling/disabling the management of Etcd via this module

[2018-08-20 19:10] ndelic0 commented on #112
Reporting the same issue.

`puppet --version 5.5.2`

Puppet module version `2.0.2`

Docker:
`docker version
Client:
 Version:      17.03.1-ce
 API version:  1.27
 Go version:   go1.7.5
 Git commit:   c6d412e
 Built:        Fri Mar 24 00:36:45 2017
 OS/Arch:      linux/amd64`

`Server:
 Version:      17.03.1-ce
 API version:  1.27 (minimum version 1.12)
 Go version:   go1.7.5
 Git commit:   c6d412e

[2018-08-24 00:49] davejrt commented on #151
I'm going to close this issue, any further discussions we can have on the community slack or a PR.

[2018-08-24 00:49] #151 closed

[2018-08-24 01:13] davejrt commented on #145
Closing as this issue is beyond the scope of this module

[2018-08-24 01:13] #145 closed

[2018-08-27 14:54] gennady-voronkov commented on #80
sorry for silly question, but where do you take this params - bootstrap_controller_ip, bootstrap_controller.
i have not seen this params in kubernetes classes

[2018-09-01 20:29] dolphyvn opened #158 "How to deploy k8s with this module"
Im trying to use this module with foreman and hiera, but Im not sure how to use it.
The document doesn't really specific how can I choose where is the master and nodes. Or how I want to add a new node.

[2018-09-05 09:35] scotty-c commented on #158
@dolphyvn are you talking about Kubernetes controllers and workers? the documentation is below.
https://github.com/puppetlabs/puppetlabs-kubernetes#configuring-your-node

[2018-09-06 00:44] davejrt commented on #126
Fixed as of release 3.0.0

[2018-09-06 00:44] #126 closed

[2018-09-07 17:47] BarnumD opened #160 "Multimaster?"
I'm trying to use this module to build a 3-node multi master kubernetes environment.  However, I'm confused about some of the values to put into the initial .env file.  It's not clear whether it's expecting a single ip, or multiple, or even how to format them.  I'm getting errors like this when trying to do a puppet run:
`invalid value "https://1.2.3.4,1.2.3.5,1.2.3.6:2379" for flag -listen-client

[2018-09-09 08:39] nickperry commented on #160
--listen-client-urls should indeed only have a single IP - specific to each master.

This is set using hiera value kubernetes::etcd_ip. Mine is

kubernetes::etcd_ip: "%{::ipaddress_eth0}"

which means that each one of my etcd servers listens on its eth0 IP.

[2018-09-09 08:45] nickperry commented on #80
@gennady-voronkov they were from an old version of the module.

[2018-09-10 20:41] mrwulf opened #161 "There are some leftover files from before the kubeadm transition"
## What you expected to happen?
No extra code to manage

## What happened?
'/templates/etcd/etcd.yaml.erb' exists, but is unused

[2018-09-10 23:55] davejrt commented on #160
@nickperry is correct, each etcd server listens on it's own individual IP. Under the https://github.com/puppetlabs/puppetlabs-kubernetes/blob/master/README.md#generating-the-module-configuration section in the readme there is an example of the values required, where you can change IP addresses and facts for your environment.

If you're not familiar with some of this I'd recommended looking at the

[2018-09-11 22:02] davejrt commented on #160
I'm going to close this, as there is sufficient advice in the documentation provided in this repo, as well as working examples in KREAM to get this up and running. Feel free to re-open or create a new issue if you into more issues once the correct config is being used.

[2018-09-11 22:02] #160 closed

[2018-09-13 14:05] ndelic0 opened #164 "overlay2 support"
Though module allows one manage docker installation independently, is there a plan to make it support overlay2 storage driver? Out of the box, using latest module version, on CentOS7 - overlay driver is set. Been trying to search official docker documentation - and it looks that overlay2 is recommended.

[2018-09-17 09:19] #161 closed

[2018-09-17 14:04] BarnumD opened #166 "Support Windows"
Windows 2019 will support Kubernetes.  Please consider updating this module to support managing a Windows kubernetes node.

[2018-09-20 02:36] scotty-c commented on #166
@BarnumD we will have a look at how we can manage Kubernetes on Windows once we get a copy of 2019. Its definitely something we will have on the roadmap for this module

[2018-09-20 02:36] #166 closed

[2018-10-04 19:23] kienanstewart opened #168 "Kubetool 3.0.0 crashes unabled to read hostname-server.pem"
## What you expected to happen?

When running `docker run --rm -v $(pwd):/mnt --env-file .env puppet/kubetool:3.0.0` I expect it to finish without error.

## What happened?

Create certs crashed, unable to read the server certificates from file.

[code]

## How to reproduce it?

Module version: 3.0.1

`.env` contents:
[code]

Note: I tried with 'VERSION' 1.11 as well. There also isn't a published

[2018-10-07 05:01] #164 closed

[2018-10-08 19:31] temujin9 opened #169 "Default structure doesn't inherit correctly"
## What you expected to happen?
A change to ```etcd_version``` should update the ```etcd_archive``` and ```etcd_source``` to correct derived values.

## What happened?
The derived values are constructed too early in the process. Unless they are overridden as well, the old version of etcd is installed from the old etcd_source.

## How to reproduce it?
Set etcd_archive in hiera, and compare to the v

[2018-10-11 05:12] tahoward opened #170 "etcd_version ignored"
## What you expected to happen?
Setting etcd_version from hiera or the kubernetes class should reflect the installed etcd version.

## What happened?
Etcd version 3.1.12 is installed.

## How to reproduce it?
Pass an etcd version to kubernetes class.

## Versions:

[code]

## Logs:
[code]

[2018-10-11 16:34] temujin9 commented on #170
This is a duplicate of #169. I'm working on a PR, which should be ready shortly.

[2018-10-11 18:45] tahoward commented on #170
Would you like me to close this?

[2018-10-12 03:47] temujin9 commented on #170
Up to you; I'm an outside contributor, not a maintainer.

[2018-10-12 04:04] tahoward commented on #170
Closing duplicate issue.

[2018-10-12 04:04] #170 closed

[2018-10-12 04:28] tahoward commented on #112
Ok so this is odd... I restarted etcd on each node then ran `kubeadm init --config '/etc/kubernetes/config.yaml' --ignore-preflight-errors=''` and the error didn't crop up. Is there perhaps a sequencing issue? The only operation I performed was restart of etcd on each host.

[2018-10-16 12:16] BarnumD opened #172 "Support Ubuntu 18.04 Bionic"
I think this module needs to be updated to support Ubuntu 18.  The apt repositories for both Docker and Kubernetes don't seem to work for this version.  Both repositories have change their structure and location since version 16.04.

[2018-10-16 17:45] temujin9 commented on #169
@davejrt @scotty-c: I have a fix for my issues in the https://github.com/temujin9/puppetlabs-kubernetes/tree/neliot-fix-param-inheritance branch. However, this fix eliminates kubernetes::params (whose invocation order was causing the defaulting problem). Can you look at it, and tell me if that kind of fix is acceptable, and if not maybe suggest a different approach?

[2018-10-23 03:13] scotty-c commented on #172
@BarnumD What kubernetes repo are you referring too? We are using https://packages.cloud.google.com/apt/dists

[2018-10-23 16:40] BarnumD commented on #172
Right so if you use that repo it doesn't have support for bionic.  If you go there - you'll see there's no entry for `kubernetes-bionic`.  Instead, I had to force it back to xenial (`kubernetes::kubernetes_apt_release: 'kubernetes-xenial'`)

You may also need to double check docker, which i was having trouble with (sorry, I don't have the errors.)  I just wound up bypasing it with `kubernetes::man

[2018-10-24 12:03] khaefeli opened #174 "Replace puppet legacy facts with modern facts"
## What you expected to happen?
Module is using current standards / modern facts.

## What happened?
This module is using legacy facts like `lsbdistcodename` or `osfamily`

## How to reproduce it?
https://github.com/puppetlabs/puppetlabs-kubernetes/blob/master/manifests/params.pp#L65
https://github.com/puppetlabs/puppetlabs-kubernetes/blob/master/manifests/params.pp#L72

## Anything else we need t

[2018-10-24 12:17] khaefeli commented on #174
or maybe it's better to replace it with `xenial` as default for debian based systems.
as the the specific repos are deleted and migrated to xenial:

https://packages.cloud.google.com/apt/dists/kubernetes-stretch/main/binary-amd64/Packages
https://kubernetes.io/docs/setup/independent/install-kubeadm/

[2018-10-27 17:17] henryroyal opened #175 "."
## What you expected to happen?

## What happened?

## How to reproduce it?

## Anything else we need to know?

## Versions:

[code]

## Logs:
[code]

[2018-10-27 17:19] #175 closed

[2018-10-31 18:43] SimonHoenscheid commented on #169
I also trembled on this, my fix was to move the version var and the two depending to the main class, keeping the rest in the params

[2018-10-31 18:47] SimonHoenscheid opened #177 "Adding Cri-o support"
My Company is using this module and we use crio as container runtime, I did a bunch of patches and would be happy to add the support to the module. Due to mentions this module is internally under heavy reconstruction, let me know if its currently a good point to file such a big PR.

[2018-10-31 18:59] SimonHoenscheid opened #178 "Kubernetes Version support and config changes"
The Kubernetes config is evolving, and the structure is changing (apiVersion). Therefor it would be the best to provide different templates or conditions inside the templates. Are there plans to deprecate older versions soon or will there be a limit of supported versions?

[2018-10-31 19:02] SimonHoenscheid opened #179 "Data in Modules"
I played around with a feature branch at work, replacing the params.pp with module data completely. What are the plans for this from a maintainers perspective?

[2018-11-01 09:31] kbarber commented on #178
In particular, this module atm won't support 1.12.2, without the ability to escape-hatch the template for `config.yaml`:

[code]

[2018-11-01 12:44] kbarber commented on #178
Its a dirty hack, but might allow people to get their versioning up to 1.12.x until this module gets its overhaul: https://github.com/puppetlabs/puppetlabs-kubernetes/pull/180

[2018-11-05 02:12] #168 closed

[2018-11-05 11:11] SimonHoenscheid commented on #178
@davejrt Does the module reflect the Kubernetes support lifecycle?

[2018-11-08 00:52] scotty-c commented on #177
@SimonHoenscheid we already support the cri plugin. What functionality does that not give you that cri-o will ?

[2018-11-08 18:30] nickperry opened #183 "Support custom Kubernetes container image repos instead of just k8s.gcr.io"
** Is this a FEATURE REQUEST? **
YES
- why: We need to be able to pull kubernetes containers from custom repos behind our firewalls.
- what: The module currently doesn't give a way to set kubeadm's imageRepository parameter in /etc/kubernetes/config.yaml.

## Versions:

[code]

[2018-11-08 18:45] nickperry opened #184 "kubernetes_version hiera key does not set kubernetesVersion in /etc/kubernetes/config.yaml"
** Is this a BUG REPORT? **
YES

## What you expected to happen?

I would expect the 'kubernetes_version' hiera key to be reflected in /etc/kubernetes/config.yaml as the kubernetesVersion parameter.

## What happened?
The config template does not support this.

## How to reproduce it?
Set kubernetes::kubernetes_version hiera value
Run puppet
Inspect /etc/kubernetes/config.yaml and kubernetesVersio

[2018-11-11 23:17] davejrt commented on #184
Addressed in PR #185

[2018-11-11 23:17] #184 closed

[2018-11-12 00:59] davejrt commented on #178
as of PR #181 we support 1.12

@SimonHoenscheid do you have the link to that page where they outline the support lifecycle? We've not defined a definite support period but as we've previously done, we will at some point be dropping support in upcoming releases as it becomes too difficult to support that many configurations in one version of a module.

[2018-11-12 01:01] davejrt commented on #172
@scotty-c and I looked into this, and until such time as the k8s documentation officially states that 18.04 is supported, and upstream repos are created, we'll be keeping this module supported at 16.04.

There were a number of comprimes that need to be made, including having to use unsupported docker versions that at stage we don't want to make available in this module.

[2018-11-12 01:01] #172 closed

[2018-11-12 01:02] davejrt commented on #179
At this stage it's not on our immedidate roadmap, but I would be happy to review a community PR that addresses this issue.

[2018-11-12 01:02] davejrt commented on #179
Will close this, and keep the discussion going in #169 where this was initially reported.

[2018-11-12 01:02] #179 closed

[2018-11-12 01:03] davejrt commented on #169
@temujin9 I am happy to look at a PR that brings the data back into the module as is suggested in the best practices now.

[2018-11-12 01:16] temujin9 commented on #169
Ah, good to hear. I'm at a conference early this week, but I should be able to bang this out Thursday or Friday when I get back. The refactor is done, it's just the tests that need writing.

[2018-11-12 01:49] #178 closed

[2018-11-13 02:05] kienanstewart commented on #168
Worked without the quotes on ETCD_INITIAL_CLUSTER. Thanks!

[2018-11-13 10:39] ladlavj opened #188 "manifests/packages.pp fix archive resource with path"
## What you expected to happen?

## What happened?
I'm running puppet version 5.3.3 and trying to install kubernetes controller on CentOS 7
Etcd installation fails from archive, it fails while looking for archive on path=>"/${archive}" while archive is by default downloaded under /tmp/

## How to reproduce it?
run puppet agent on centos 7

## Anything else we need to know?
seems the default behavi

[2018-11-13 22:34] davejrt commented on #188
The archive type is specified with a `path` param that downloads the file to the root directory [here](https://github.com/puppetlabs/puppetlabs-kubernetes/blob/fa21bee28a8456093bb0ae459dc930da3fccb71c/manifests/packages.pp#L103)

Line 96 in this module also referes to the containerd archive, which shouldn't be run unless you've specified containerd as the runtime.

I can't replicate the issue with

[2018-11-14 02:53] keur opened #190 "etcd requires manual intervention to update"
## What you expected to happen?

When bumping the version of etcd, I expect that the the binary in `/usr/local/bin/etcd` and `/usr/local/bin/etcdctl` will be updated to the specified versions, and the etcd service is restarted to reflect the latest version.

## What happened?

The version stays the same. I suspect the reason for it is due to [this line](https://github.com/puppetlabs/puppetlabs-kub

[2018-11-14 09:43] scotty-c commented on #190
We are moving etcd back to running into a container to fix this issue. That won't make the next release. It will be the one after.

[2018-11-16 19:49] temujin9 commented on #169
Ah, turns out my fix takes no correction at all. The test failures occur under the new default puppet version of 6.0.2, with or without my changes.

Setting PUPPET_GEM_VERSION="~> 5.5.7" makes test pass both before and after my change. I'll PR shortly, and then ticket this 6.0.2 issue (which is not a priority from our perspective).

[2018-11-16 20:29] temujin9 commented on #169
Actually, I notice that the most recent master is now pinned to 5.5.6, so I suspect you already know the issue. Let me know if you want me to ticket it.

[2018-11-17 00:36] dkess opened #194 "apiserver_extra_arguments is ignored unless apiserver_cert_extra_sans is non-empty"
## What you expected to happen?
When I fill in `apiserver_extra_arguments`, I expect the list to show up in `/etc/kubernetes/config.yaml`.
## What happened?
The extra arguments did not appear.

## How to reproduce it?
Configure puppet with `apiserver_extra_arguments` but without `apiserver_cert_extra_sans`.

## Anything else we need to know?
Looks like this is caused by an overly-aggressive if sta

[2018-11-17 20:48] #169 closed

[2018-11-17 21:57] nickperry commented on #190
@scotty-c @davejrt out of interest, why do you a return to the container approach over managing etcd via a system package per https://github.com/puppetlabs/puppetlabs-kubernetes/pull/165 ?

[2018-11-18 00:10] nickperry opened #197 "kubelet_extra_config approach only works for kubelet config that is not critical for starting the kubelet up in the first place."
For example, in our air-gapped environments we need to be able to tell the kubelet to source the infra / pause container from an internal repo rather than trying in vain to get it from the Internet. We do this with the 'pod-infra-container-image' argument to Kubelet. However the Kubelet can't get to a point where dynamic config is viable without infra pods being able to get their pause container.

[2018-11-18 05:39] #197 closed

[2018-11-18 08:33] davejrt commented on #190
@nickperry we'll be supporting the etcd package as it currently is, as well as adding in the ability to run etcd as a container via kubeadm.

[2018-11-19 12:39] davejrt commented on #194
fixed in #200

[2018-11-19 12:39] #194 closed

[2018-11-19 17:15] nickperry opened #202 "New settings have not been documented"
https://github.com/puppetlabs/puppetlabs-kubernetes/pull/192

introduced new settings

$kubernetes::manage_kernel_modules
$kubernetes::manage_sysctl_settings

These need to be added to the Readme.

[2018-11-19 23:38] davejrt commented on #202
They'll be updated before next release, we already have tickets in place to ensure the readme is up to date and the time of publishing to the forge.

It should be noted as previously stated that running from master does not reflect a production ready module.

[2018-11-20 08:51] nickperry commented on #202
Not a problem, just highlighting these ones as I noted that previously contributors had been asked to add their own entries to the readme for new settings, before their PR was accepted. I only noticed them as I had to find and disable manage_sysctl_settings to fix a duplicate declaration in our env.

[2018-11-20 11:03] nickperry opened #203 "kubeadm join fails with kube 1.12 due to incorrect param order"
Opened in erreor

[2018-11-20 12:07] nickperry commented on #203
Please ignore. M

[2018-11-20 12:07] #203 closed

[2018-11-20 14:55] SimonHoenscheid commented on #202
I have noticed this after merge, PR in progress

[2018-11-20 22:59] #202 closed

[2018-11-21 23:10] nickperry opened #207 "Module does not enable the kubelet service"
** Is this a BUG REPORT? **
YES

## What you expected to happen?

I would expect the module to enable the kubelet systemd service.

## What happened?
Neither kubeadm, nor the puppet module enable the service.

## How to reproduce it?
Build a cluster using the module.
Reboot.
Kubelet does not automatically start.
```systemctl status kubelet``` shows the service is disabled.
```systemctl enable kube

[2018-11-22 00:47] nickperry commented on #207
On my Puppet master, I tried hacking in

[code]
in the module's services.pp and it worked as expected. I just wondered is there a reason this hasn't been implemented already? I can't imagine a scenario where I wouldn't want the module to enable the kubelet service.

[2018-11-22 10:03] scotty-c commented on #207
@nickperry  if the cluster is configured correctly the system file is enabled by kubeadm

[2018-11-22 12:15] nickperry opened #208 "Puppet run fails if $manage_kernel_modules is set to true and $manage_sysctl_settings is set to false."
** Is this a BUG REPORT? **
YES

## What you expected to happen?

Puppet run to complete without errors.

## What happened?
Puppet run fails with
[code]

## How to reproduce it?
Set kubernetes::manage_sysctl_settings: false in your hiera data.
Run Puppet

## Anything else we need to know?
This bug was introduced in https://github.com/puppetlabs/puppetlabs-kubernetes/pull/206 in this line
https://g

[2018-11-22 18:32] nickperry opened #209 "Allow configuration of kubelet feature-gates"
** Is this a FEATURE REQUEST? **
YES
- why: We need to be able to enable feature gates like DynamicKubeletConfig for the kubelet.
- what: The module currently does not currently seem to support configuration of feature-gates, although it is partially implemented. See
https://github.com/puppetlabs/puppetlabs-kubernetes/blob/7fb46f2a77bddd3ac294bb5fd22fc62fcc16381d/lib/puppet/parser/functions/kubead

[2018-11-22 19:47] nickperry commented on #209
Actually

```Exec[kubeadm init]/returns: can not mix '--config' with arguments [feature-gates]```

So I can enable feature-gates via the config using kubeadm_extra_config. However, this only works for the controllers, not worker nodes at this time. This is because the module does not write a config file and pass it to kubeadm for join - only for init.

[2018-11-22 20:07] nickperry commented on #209
Fundamentally, the higher level problem I'm tying myself in knots trying to fix is how to use this module to define a custom infra / pause container for use in our air-gapped environments. This was easy to achieve for controllers, through the addition of $kubelet_extra_arguments. However, the fact that join doesn't use a config file whereas init does in this module, is making this tricky.

[2018-11-22 22:12] #209 closed

[2018-11-28 22:02] davejrt commented on #188
closing due inactivity. please re open with more information if you continue to see this error

[2018-11-28 22:02] #188 closed

[2018-11-28 22:46] nickperry commented on #184
@davejrt your change in PR #185 doesn't work. You've put kubernetesVersion in kind: InitConfiguration, but it doesn't do anything there. It needs to be in kind: ClusterConfiguration.

[2018-11-28 22:49] davejrt commented on #208
We will address these issues when we can, due to the departure of some team members the backlog is bigger than usual. Feel free to contribute PR's as you see fit if you're running off master

[2018-11-29 03:45] davejrt commented on #208
Out of interest are you managing one of these settings outside the module?

[2018-11-29 08:10] nickperry commented on #208
Yes, the sysctl bit. We manage it in our base profile as part of our infosec mandated hardening.

[2018-11-29 09:01] nickperry commented on #184
Thanks for the quick turn-around on PR #211

[2018-11-29 09:23] davejrt commented on #208
Thanks for clarifying, let me see what I can do

[2018-11-29 21:00] davejrt commented on #208
@nickperry one would assume that you're also turning on the kernel module in your infosec hardening too? That being the case, why wouldn't you also turn off `$manage_kernel_modules` too?

[2018-11-29 21:12] nickperry commented on #208
So by default our infosec hardening manifests ensure the sysctl resource in question is disabled, but this can be overridden for server roles like kube hosts that legitimately need it. The infosec manifests in our base profile do not attempt to ensure the presence of kernel module though.

[2018-12-02 14:06] SimonHoenscheid commented on #208
@nickperry @davejrt that was exactly the behavior I intended, I did not exspect that people would handle one of the two. With the added relationship, this is now a problem. This problem could be fixed with a defined check for a ressource, but I would suggest you handle both parts external and deactivate both.

Suggestion: move kernel modules and sysctl configs in one condition.

[2018-12-02 20:29] #174 closed, assigned to nobody

[2018-12-03 09:55] #208 closed

[2018-12-04 02:05] davejrt commented on #207
It looks like this warning is RHEL specific. I just tested on xenial and didn't get it

[2018-12-04 02:40] davejrt commented on #80
Closing as this was made possible in #89

[2018-12-04 02:40] #80 closed

[2018-12-09 00:38] nickperry commented on #207
Given then vendor preset for the kubelet service in the RPM package is disabled, I think having a Service resource for kubelet in the module, with ensure => enabled is reasonable.

[2018-12-09 02:15] davejrt commented on #207
Yep all good, that comment was observational more than laying blame anywhere. Feel free to submit a PR or we’ll look at it this week

[2018-12-11 18:31] jorhett opened #216 "Docker image documentation doesn't work / doesn't match current options"
## What you expected to happen?

Command syntax shown at https://hub.docker.com/r/puppet/kubetool/ does not work

## What happened?

Created a file named for the param shown in the Docs
[code]

## How to reproduce it?

Run the `docker run` command example shown at https://hub.docker.com/r/puppet/kubetool/

## Anything else we need to know?

The correct syntax is shown in the README of this reposit

[2018-12-15 01:14] guardfox opened #217 "Kubelet config missing config"
## What happened?
Hello,
During initial setup, puppet waiting forever to finish applying the catalog.

## How to reproduce it?
Install module, generate hiera,use hiera yaml generated files, enable class in the node manifest.
Then just apply changes running 'puppet agent -t '

## Anything else we need to know?
Attempted to deploy Kubernetes on Ubuntu Xenail 16.04 LTS using this puppet module.

## V

[2018-12-17 13:36] SimonHoenscheid opened #218 "Fact resolution failed"
## What you expected to happen?
Puppet runs smoothly

## What happened?
This issue is related to #174, which is a PR I made myself.

On Centos7/RedHat 7 the fact

`facts['os']['distro']['codename']`

can not be resolved and results in the following error:

` Could not retrieve catalog from remote server: Error 500 on SERVER: Server Error: Evaluation Error: Operator '[]' is not applicable to an Und

[2018-12-17 23:16] davejrt commented on #218
My recommendation would just be to use the newer syntax with a legacy fact and raise a bug against facter referencing this issue.

[2018-12-18 08:44] SimonHoenscheid commented on #218
Sounds like a good solution, exspect my PR today

[2018-12-18 08:52] #207 closed

[2018-12-18 23:21] davejrt commented on #217
Can you show me your node definition as well? It isn't applying anything after the packages class. These errors would be expected until such time as the other classes are applied with the correct config and the kubelet is restarted and kubeadm init is run.

[2018-12-19 16:48] jorhett commented on #218
Install `redhat-lsb-core` which installs `lsb_release` which is what provides the fact's data source.

[2018-12-19 22:08] #218 closed

[2018-12-20 10:39] guardfox commented on #217
Hello,
This is the manifest for master:

  class {'kubernetes':
    controller           => true,
 }

and the manifest for worker is similar:

  class {'kubernetes':
   worker => true,
  }

All the params generated by kubetool are stored in the hiera like:

---
kubernetes::kubernetes_version: 1.10.5
kubernetes::kubernetes_package_version: 1.10.5-00
kubernetes::container_runtime: docker
kubernetes:

[2018-12-20 11:04] guardfox commented on #217
Hello,
while searching around for a possible solution regarding bootrstraping initial cluster found following url:
https://puppet.com/blog/announcing-kream-and-new-kubernetes-helm-and-docker-modules

pointing to the same Kubernetes puppetlabs module and some examples:
![image](https://user-images.githubusercontent.com/9665841/50281244-228b6900-044f-11e9-8e4e-951b5eb69498.png)

But checked into the

[2019-01-02 10:41] khaefeli commented on #122
@scotty-c and updates regarding kubernetes & bolt?

[2019-01-02 22:09] scotty-c commented on #122
@khaefeli I am not longer working at Puppet @davejrt is the best person to ask

[2019-01-03 06:57] davejrt commented on #122
I’m happy to look at PRs on this but the priority at the moment given the number of people we have in the team is to stay up to dare with version releases.

Not to say it isnt on the road map but I don’t want to speculate when it would be prioritised internally at this stage

[2019-01-07 18:40] aellert opened #237 "Unable to generate module configuration"
Hi,

According to the documentation, the first thing to do is to generate the module configuration (actually version 3.1.0), so I used this command line

[code]
Then I went to [Docker hub](https://hub.docker.com/r/puppet/kubetool) and saw that the latest version available is 3.0.1

[code]
Can you please help ?
Thank you for you help.

Alexandre

[2019-01-07 18:57] aellert commented on #237
Works with puppet/kubetool:3.0.1.
And I realize my env file was empty...

[2019-01-07 18:57] #237 closed

[2019-01-14 21:01] temujin9 opened #238 "Please cut versions more regularly"
After the successful merge of #193, I have had to pin my local deployments to a git hash (1196f55). No currently available version includes it, and tracking master was causing failures.

Please consider cutting v3.1.1, which ties to that hash or something close to it, and then 3.1.2 (or 3.2.0, as appropriate) containing the rest of the recent updates.

[2019-01-16 15:23] puetzp opened #239 "Allow proxy usage for kubectl"
One issue that keeps cropping up for me is the inability to pass a proxy URL to kubectl. If a node has no direct internet access kubectl is unable to download and install, for example, the CNI plugins and RBAC bindings. This case is not unusual in corporate environments.
Would it be possible to add an additional proxy parameter to the kubernetes module that is passed as environment variable to the

[2019-01-16 21:08] davejrt commented on #239
Hi

Given we already set this here https://github.com/puppetlabs/puppetlabs-kubernetes/blob/48c77141da0040ac8e35b7fbdccd3a135f9fef16/manifests/kube_addons.pp#L14

I think the best option is just to expose that as a param, with what we currently have as the defaults, then if you need a proxy or something like that you can change them so suit your environment.

[2019-01-23 21:53] davejrt commented on #238
3.2.0 has been released. Apologies for the delays

[2019-01-23 21:53] #238 closed

[2019-01-25 19:26] scoopex opened #241 "Missing kubetool container"
The documentation describes that your should execute the following:

[code]

The puppet forge page lists release 3.2.0 and 3.1.0, bhut container with that release does not exist.
[code]

Also the releases section on github is empty:

https://github.com/puppetlabs/puppetlabs-kubernetes/releases

[2019-01-26 09:24] scoopex opened #242 "Describe/test a best practice setup"
This module is often potentially also used by users which a newbies in kubernetes.
To find out the steps to have a real-world setup is a time consuming task for every new user of this module.

Therefore a commodity setup which  is close to the common best practice/production grade configuration would be extremely useful.
Ideally there is a demo vagrant setup which solves this issue.

For my person

[2019-01-28 18:10] davejrt commented on #242
@scoopex we have a repo that does this called KREAM

You can find all the information [here](https://github.com/puppetlabs/kream)

[2019-01-28 18:38] davejrt commented on #241
Apologies, the container has been uploaded.

The releases section is not empty, you just need to expand the section at the top to show releases. As we are now using a different process they will not look exactly the same as previous.

[2019-01-28 18:38] #241 closed

[2019-01-28 19:18] temujin9 commented on #238
Thanks!

[2019-01-31 22:50] nickperry commented on #239
I think you have two options.

1. Set the parameters on the Exec as above, but as well as setting HTTPS_PROXY, also set NO_PROXY to cover your node and any other internal addresses.

2. What we do in my organisation is to just mirror the CNI provider manifest on an internal repository and set the param cni_network_provider to reflect that. We actually install all kubernetes packages and container

[2019-02-02 06:00] dkess opened #244 "PKI keys are world-readable"
Everything in the `/etc/kubernetes/pki` directory is world-readable, which means having any code execution on a Kubernetes master can lead to compromise of the cluster. Keys should have `0600` permissions.

[2019-02-02 19:01] keur commented on #244
[Relevant code](https://github.com/puppetlabs/puppetlabs-kubernetes/blob/48c77141da0040ac8e35b7fbdccd3a135f9fef16/manifests/config.pp#L67)

[2019-02-03 00:44] dkess commented on #244
`/etc/kubernetes/config.yaml` also has the bootstrap token in it, so that should be root readable only as well.

[2019-02-05 17:16] clly opened #245 "Support setting initial_cluster_state for etcd"
Support configuring the intial_cluster_state for etcd.

Why: etcd does not come up gracefully if it is started on a server that was not originally part of the cluster. In order to add the node the initial_cluster_state flag needs to be set to "existing".
What: Add a flag to the kubernetes module to support setting this etcd flag.

[2019-02-05 22:26] #242 closed, assigned to nobody

[2019-02-06 21:06] temujin9 commented on #245
@davejrt Can you tag this? 3.2.1 seems appropriate.

[2019-02-06 21:59] davejrt commented on #245
Yep that's the plan, just need to get someone from my team to review

[2019-02-07 08:51] davejrt commented on #244
Closed in #248  and released with 3.2.1

[2019-02-07 08:51] #244 closed

[2019-02-20 16:20] vrmerlin commented on #112
i finally seemed to have fixed this problem -- the solution was to update my /etc/hostname file, to be the fully qualified host name.

[2019-02-20 21:00] davejrt commented on #112
Thanks for getting back to us with the solution

[2019-02-20 21:01] #112 closed

[2019-02-22 09:52] puetzp commented on #239
Thank you for your input. I ended up doing something similar to your second option, storing the CNI manifest as a puppet template. This is fine as long as a manifest is of small size (which they usually are, fortunately).
Since Docker provides an option for proxying I will probably continue to pull images from GCR and co.

Again, thank you for your suggestions. I'm happy with the workaround, so I

[2019-02-26 20:00] vrmerlin opened #256 "Timeout error during kubeadm init step"
## What you expected to happen?
Kubernetes to be installed properly on a single master.

## What happened?
I get the error ```error marking master: timed out waiting for the condition``` during the ```kubeadm init``` step.

## How to reproduce it?
First I generated my Hiera configuration with (IP/hostname replaced):
[code]

And I installed Kubernetes with this Puppet code:

[code]

## Versions:

[

[2019-02-26 20:05] SimonHoenscheid commented on #256
Puppet tries to deploy your CNI in this time weave. Did this work out?
to get kubectl working you need to export the KUBECONFIG variable. Did you do this?

[2019-02-26 22:19] vrmerlin commented on #256
I'm just showing the errors I got during the puppet deployment. After the "time out waiting" error, it said this:

[code]

Doesn't the KUBECONFIG variable come at the end of the init? It never got to that point.

[2019-02-26 23:51] vrmerlin commented on #256
So, good news...

I changed ```VERSION=1.10.2``` (which is in your documentation) to be ```VERSION=1.13.0``` (the latest version), and then added ```etcd_version => "3.2.18"``` to my Puppet Kubernetes module constructor, and suddenly it worked! The whole thing installed successfully.

[2019-02-27 01:49] davejrt commented on #256
Without more info I can't determine why your install with 1.10 wasn't working, but we acceptance test against this version so I dare says it's environment specific.

Having said, you alluded to the fact our documentation references 1.10...do you find this misleading?

[2019-02-27 16:17] vrmerlin commented on #256
I tried it again, and yes, the change in versions it what seems to make it work. Could be environment specific, but no idea exactly what is different.

I'm not sure "misleading" is the word, but I assumed if "1.10" was there that it was a "safe" version to use (and it apparently is for most people). In any case, I guess i'm good to go now, and we can close this.

[2019-03-05 02:15] davejrt commented on #239
Thanks for the feedback @puetzp. I'll close this issue for now but we'll look at what options we can add in future to simplify this.

[2019-03-05 02:15] #239 closed

[2019-03-05 18:16] vrmerlin opened #258 "Use controller as a worker?"
I'm using the latest version of puppetlabs-kubernetes, and I believe I've successfully used it to set up a master and two nodes. However, I'd really like to run pods on the master as well as on the nodes. I see the sentence in the documentation, "Note:: A node cannot be a controller and a worker. It must be one or the other." But, why not? I know it's possible if I install kubernetes manually. Is

[2019-03-05 20:25] SimonHoenscheid commented on #258
By default, controller/master nodes are tainted. That is something that kubernetes does, to ensure the master has enough resources to do what is his job. So basically every node in K8s is configured the same, but masters only allow special containers to run.
You can remove the taint, if you want to.
https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/

[2019-03-05 20:28] vrmerlin commented on #258
Thanks for responding.

Ok, I can go that route, but I was hoping I would be able to it the “puppet” way, rather than manually on a command line after Puppet brings up a master node.

John

From: Simon Hönscheid<mailto:notifications@github.com>
Sent: Tuesday, March 5, 2019 12:25 PM
To: puppetlabs/puppetlabs-kubernetes<mailto:puppetlabs-kubernetes@noreply.github.com>
Cc: John Fisher<mailto:fisher@j

[2019-03-05 21:35] SimonHoenscheid commented on #258
That is not possible. The taint is there and will not go away until you remove it. You could do this in puppet, using an exec after the master was privisioned.

[2019-03-06 11:56] davejrt commented on #258
Set the param `schedule_on_contoller` [here](https://github.com/puppetlabs/puppetlabs-kubernetes/blob/2827eeb6f7765bcaac981b39942a1bd79c939712/manifests/init.pp#L211) to true in your hiera and you'll be able to run pods on the master.

It will execute [this](https://github.com/puppetlabs/puppetlabs-kubernetes/blob/2827eeb6f7765bcaac981b39942a1bd79c939712/manifests/kube_addons.pp#L39) exec.

We use

[2019-03-06 20:35] vrmerlin commented on #258
ok, thanks all. I'll use these workarounds.

[2019-03-06 20:35] #258 closed

[2019-03-08 15:04] puetzp opened #260 "Kubelet extra args not parsed correctly for controller nodes"
## What you expected to happen?
Init-/JoinConfiguration sections in config.yaml should be populated with extra args as specified in kubelet_extra_arguments parameter.
## What happened?
Including kubernetes class in a manifest like so:
[code]
does not create the expected configuration parts in config.yaml, which should be:
[code]
Instead, kubeletExtraArgs are missing and ```kubectl get nodes``` rep

[2019-03-11 10:12] davejrt commented on #260
Thank you for completing the template with the relevant information. We'll look into this and report back on this issue with more information once we've triaged the issue.

[2019-03-14 18:55] davejrt commented on #260
This was fixed in #259 and went out this morning as part of version 3.3.0.

Would you mind testing with the latest version and reporting back with the results?

[2019-03-15 07:47] puetzp commented on #260
Works as expected now. Thank you!

[2019-03-15 08:44] #260 closed

[2019-03-15 14:59] #256 closed

[2019-04-05 09:48] dal00 commented on #177
What do you mean when you say the "cri plugin"? My understanding is that you support cri_containerd, which is a different runtime implementing the CRI interface.

This article tries to explain it better:
https://medium.com/cri-o/container-runtimes-clarity-342b62172dc3

[2019-04-06 11:24] SimonHoenscheid commented on #177
@dal00 I just want to add support for cri-o as alternative container runtime. We used it in my previous company and I added the support to the module. I am currently doing a rebase of the changes for the current version. Exspect the PR next week.

[2019-04-07 21:05] stasiek opened #267 "Ubuntu dependencies on debian!?"
Why does this module try installing ubuntu deb versions on Debian?
[code]

[2019-04-09 06:58] yoshz opened #269 "Exec wait_for_default_sa is executed on every puppet run"
The wait_for_default_sa exec is executed on every Puppet run for each controller node.
Not a major issue but now every Puppet report gets the unnecessary status that something has modified like:

I guess an issue fix is to add the same $unless_init from `kubernetes::kubeadm_init` to `kubernetes::wait_for_default_sa` right?

[2019-04-09 07:38] carabasdaniel commented on #269
Hello @yoshz,

Thanks for pointing this out. Could you please provide a bit more detail (ex. a few log extracts pointing to this problem, it would help everyone to have a clear view of the issue at hand)

We would gladly review a PR with a fix for this.

[2019-04-09 13:00] ctas582 opened #270 "Unable to deploy Kubernetes 1.14.0"
## What you expected to happen?
Kubernetes 1.14.0 to be successfully deployed

## What happened?
kubeadm init command fails with: `your configuration file uses a deprecated API spec: "kubeadm.k8s.io/v1alpha3"`

## How to reproduce it?
Set kubernetes::kubernetes_version to 1.14.0

## Anything else we need to know?
Looks like a new config file template needs creating for 1.14.0+ that adheres to the

[2019-04-10 09:04] carabasdaniel commented on #270
Hello @ctas582,

We are currently working on this.
This will be fixed in the next release of the module.

Thanks.

[2019-04-10 09:08] davinhanlon commented on #267
Hi @stasiek - thanks for raising this issue. Debian is not currently a supported platform - this is a roadmap item but we haven't got to it.

[2019-04-10 09:53] stasiek commented on #267
`README.md` gives debian as the default example.

Please make it clearer in the README.md that it's not untested on Debian, but it doesn't work.

[2019-04-10 10:11] ctas582 commented on #270
Excellent, thanks 😃

[2019-04-10 11:15] davinhanlon commented on #267
Thanks for the feedback @stasiek. We'll clean this up.

[2019-04-16 18:06] groundop commented on #267
Hey,
I suppose the [kubernetes-xenial repo](https://packages.cloud.google.com/apt/dists/kubernetes-xenial/main/binary-amd64/Packages) is used, as it contains packages for newer kubernetes versions, whereas the [kubernetes-stretch repo](https://packages.cloud.google.com/apt/dists/kubernetes-stretch/main/binary-amd64/Packages) only offers packages for kubectl 1.5.6 and 1.6.0?

The debian repo used f

[2019-04-17 07:22] groundop commented on #267
Hey,
I suppose the [kubernetes-xenial part](https://packages.cloud.google.com/apt/dists/kubernetes-xenial/main/binary-amd64/Packages) of the rep is used, as it contains packages for newer kubernetes versions, whereas the [kubernetes-stretch part](https://packages.cloud.google.com/apt/dists/kubernetes-stretch/main/binary-amd64/Packages) of the repo only offers packages for kubectl 1.5.6 and 1.6.0?

[2019-04-17 11:16] #270 closed

[2019-04-18 12:52] jayunit100 commented on #177
@SimonHoenscheid  can I try out your module ? this is really exciting !

[2019-04-18 12:53] jayunit100 commented on #177
I do see https://github.com/puppetlabs/puppetlabs-kubernetes/pull/265/files , but presumeably another PR on the way for the CRIO stuff?

I was wondering if maybe there was a CRIO puppet forge recipe that could be installed standalone.

[2019-04-26 23:28] mrwulf opened #275 "This module should manage the `front-proxy-ca`"
# BUG REPORT

## What you expected to happen?
After installing a cluster with multiple master nodes, installing `metrics-server` should just work.

## What happened?
`kubectl top nodes` would sporadically work. After some experimentation I found that requests to one master consistently worked, and all others consistently failed. Test with `kubectl top nodes --server https://master01:6443`

## How

[2019-04-29 11:54] SimonHoenscheid commented on #177
@jayunit100 sorry I was on vacation, will try to finish this up tomorrow and write the missing tests

[2019-04-30 21:24] nickperry opened #276 "It is not possible to set apiServerExtraArgs with v1alpha3 or v1beta1 config templates without setting a cloud_provider"
## What you expected to happen?

I expected to be able to set apiserver_extra_arguments and have the values rendered into apiServerExtraArgs in the kubeadm config file.

## What happened?
This still works for v1alpha1 and used to work with v1alpha3 until it was broken by this change:

commit f46e7108acad734a77a9e6234b8d1cbdeff31019
Author: Jo Rhett <jrhett@netconsonance.com>
Date:   Tue Dec 18 15:

[2019-04-30 21:35] nickperry commented on #276
apiserver_extra_arguments is missing from the spec tests:

https://github.com/puppetlabs/puppetlabs-kubernetes/blob/master/spec/classes/config/kubeadm_spec.rb

[2019-05-02 04:16] sunnz opened #277 "Token need to be manually recreated for new nodes"
I got a controller up and working, but unless I also create nodes (workers) shortly after, I can't join them to the controller unless I manually create a new token with ``kubeadm token create``, and update ``kubernetes::token`` with the new token in hiera, since the token is only valid for 24 hours.

This means I had to manually recreate a new token everytime I need to create a new controller / wo

[2019-05-02 07:46] fydai commented on #276
I think the issue here is caused by this PR (https://github.com/puppetlabs/puppetlabs-kubernetes/pull/264). If `$cloud_provider` is not set, then before the PR `$apiserver_merged_extra_arguments = $apiserver_extra_arguments` would be executed, and the yaml would be templated with the provided arguments. I will prepare a PR to fix this soon.

[2019-05-03 09:15] sheenaajay commented on #276
@nickperry Thanks for detailed information.Able to reproduce the problem
@fydai Thanks for all your help.Happy to help with reviews and verification.

[2019-05-08 08:10] sheenaajay commented on #276
Hi @fydai, Thanks for the help. Just want to check if you need help on getting the PR for the fix. We have a release planned for Kubernetes. It will good to include the fix for this issue too.

[2019-05-08 11:57] flostru opened #283 "apiserver_cert_extra_sans has no effect"
## What you expected to happen?

We need to add a loadbalanced IP or alternatively a floating IP as entry for the apiserver.
Additionally a fqdn.

## What happened?
Obviously the Param "apiserver_cert_extra_sans" (apiServerCertSANs) is either outdated or missused at the wrong place.

Certs dont get the SANs
[code]
[code]
## How to reproduce it?
[code]
resulting /etc/kubernetes/config.yaml
[code]
#

[2019-05-08 14:24] KrisBuytaert opened #284 "no parameter named 'value'"
We've been running into   when

Error 500 on SERVER: Server Error: no parameter named 'value' (file: /etc/puppetlabs/code/environments/mgmtplay/modules/upstream/kubernetes/manifests/packages.pp, line: 39) on Sysctl[net.bridge.bridge-nf-call-iptables] (file: /etc/puppetlabs/code/environments/mgmtplay/modules/upstream/kubernetes/manifests/packages.pp, line: 39) on node kubemaster.mgmtplay.inuits.eu

[2019-05-08 20:16] fydai commented on #283
This is fixed here https://github.com/puppetlabs/puppetlabs-kubernetes/commit/4b9e67fe35d04ed803fd7e4aa2c9fe6131d4fc42#diff-3c6ec41b280051f60a5353c3a9d99bc9.

[2019-05-09 07:45] KrisBuytaert commented on #284
I tried  puppet generate types --environment  $environment .. but even after that it keeps giving the same error.

[2019-05-09 15:00] flostru commented on #283
Aye thats good thanks for Information.
Will this actually update a running cluster and rebuild the certificates?

[2019-05-10 12:12] #276 closed

[2019-05-14 11:26] flostru commented on #283
Works now thanks for Help.

fyi it wont update changes, if you add those afterwards you need to:
[code]

[2019-05-14 11:28] #283 closed

[2019-05-15 11:26] KrisBuytaert opened #288 "kubetool container throws errors and doesn't generate expected yaml files"
## What you expected to happen?

When running
docker run --rm -v $(pwd):/mnt --env-file env puppet/kubetool:4.0.0
I expected different files including a $distro and $nodename to be generated ..
Yet different files get generated

ca-conf.json  ca-key.pem  client.csr      client.pem   env                 kubernetes.yaml
ca-csr.json   ca.pem      client-key.pem  config.json  kube-etcd-csr.json

## Wh

[2019-05-22 14:34] achevalet opened #290 "Etcd installation from package on centos"
## What you expected to happen?
etcd installation and configuration without manual steps in-between.

## What happened?

When `etcd_install_method` is set to `package` on Centos, latest etcd is installed from epel repo, ex etcd-3.3.11-2.el7.centos.

Issue#1: as per the default systemd file provided with the package, etcd service is started with `etcd` user. Result: The service can't start because

[2019-05-28 23:18] dal00 commented on #177
Any update on this?

[2019-05-29 07:21] SimonHoenscheid commented on #177
Yes, testing is done, I will wrap this up next week in Budapest at contributor summit.

[2019-06-04 21:00] mrwulf opened #296 "Allow custom kube-proxy mode"
I want to be able to configure the `kube-proxy` mode. The default `""` (documented here: https://github.com/kubernetes/kubernetes/blob/85f2730d85c752d191057fec99c829566833442d/pkg/proxy/apis/config/types.go#L161) don't scale very well.

[2019-06-05 09:39] #296 closed

[2019-06-05 09:59] SimonHoenscheid commented on #277
Its a question of data source, hiera is the data source for puppet. We can set the ttl in the erb to 0 by default which disables expiration of the token. See docs: https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-token/

[2019-06-05 12:27] SimonHoenscheid opened #298 "Fail if unsupported version should be installed"
Kubernetes supports the last 3 minor releases. The module should fail or at least throw a warning if an unsupported version should be installed

[2019-06-08 20:58] nickperry opened #301 "extra_volumes not created when cloud_config not set"
## What you expected to happen?

When I set cloud_provider but do not set cloud_config, I would expect the rest of the module to behave as normal.

## What happened?
Because of the logic between lines 101 and 132 in the kubeadm manifest, the variables
$apiserver_merged_extra_volumes and $controllermanager_merged_extra_volumes will only get created if either $cloud_provider is NOT set OR ( $cloud_p

[2019-06-08 21:12] nickperry opened #302 "apiserver_extra_volumes and controllermanager_extra_volumes no longer set readOnly attribute (regression)"
## What you expected to happen?

Given a kubernetes::apiserver_extra_volume hash as follows:

[code]

I would expect the readOnly to be set in config.yaml

## What happened?

The kubeadm config templates do not set readOnly

## How to reproduce it?

Define extra_volumes in hiera which have readOnly. Observe that readOnly does not get set in /etc/kubernetes/config.yaml.

## Additional Information
e

[2019-06-10 13:05] nickperry opened #304 "apiserver_extra_volumes does not let me set a host path type"
The current implementation of apiserver_extra_volumes in the module, does not allow the specifying of a pathType for a mount.

This means that the resultant kube-apiserver pod spec yaml ends up containing 'type: ""' for each mount defined via apiserver_extra_volumes.

e.g.
[code]

This means I can't define whether my mounts are File, Directory, etc. This makes the feature unusable.

kubeadm config

[2019-06-12 08:17] nickperry opened #305 "$config_version to $kubernetes_version mapping kubeadm.pp needs updating to support Kube 1.15"
FEATURE REQUEST
Why - I would like to be able to use the module to install Kubernetes 1.15.
What -

The mapping in https://github.com/puppetlabs/puppetlabs-kubernetes/blob/master/manifests/config/kubeadm.pp that selects a kubeadm config version to match the kubernetes version needs updating.

  $config_version = $kubernetes_version ? {
    /1.1(0|1)/ => 'v1alpha1',
    /1.1(3|4)/  => 'v1beta1',

[2019-06-12 09:31] yotles opened #306 "restart kubernetes"
Hello. What the correct way to reboot machine which configured such module?
Because after rebooting running only etcd and kublet services. What about kube-apiserver,kube-controller-manager,kube-scheduler,kube-proxy. What the way to restart all these needed services?

[2019-06-14 07:04] SimonHoenscheid commented on #306
The kubelet should load the CRI and this should load the containers which provide the missing services

[2019-06-16 12:36] hussainaphroj commented on #95
Hi,
I am facing the similar issue for puppet 4.10:
 parameter 'etcd_ca_key' expects a String value, got Undef
  parameter 'etcd_ca_crt' expects a String value, got Undef
  parameter 'etcdclient_key' expects a String value, got Undef
  parameter 'etcdclient_crt' expects a String value, got Undef
  parameter 'etcdserver_crt' expects a String value, got Undef
  parameter 'etcdserver_key' expects a St

[2019-06-17 07:14] SimonHoenscheid commented on #95
Have a look here: You missed this step: https://github.com/puppetlabs/puppetlabs-kubernetes#generating-the-module-configuration

[2019-06-17 09:03] hussainaphroj commented on #95
Thank you, Simon. I will try the mentioned step

[2019-06-18 06:44] #305 closed

[2019-06-20 15:20] #306 closed

[2019-07-02 11:49] nickperry commented on #275
Yeah, we've been hit by this too. I wish I'd found your bug report before I spent so many hours figuring it out for myself.

I will submit a PR in the next couple of days to fix this.

[2019-07-03 11:46] AlexanderSalmin opened #317 "Can't select architecture"
##  What you expected to happen?
Code missing to select architecture for the repository in APT

## What happened?
Unable to install the architecture of my choice

## Versions:
$ puppet --version
6.6.0

$ facter os
{
  architecture => "amd64",
  distro => {
    codename => "bionic",
    description => "Ubuntu 18.04.1 LTS",
    id => "Ubuntu",
    release => {
      full => "18.04",
      major => "

[2019-07-14 12:20] martezr opened #319 "No kubetool container for v4.0.1"
##  What you expected to happen?
When attempting to use the kubetool docker container for the v4.0.1 version of the module I expected the image to download and run the container to generate a configuration.

## What happened?
The Docker image was not able to be found and threw the following error message. There is no new tag for the latest version of the puppet module (https://hub.docker.com/r/pup

[2019-07-17 23:55] nickperry commented on #275
Fixed in #321

[2019-07-19 13:44] daveoy commented on #319
i did manage to build the container with `docker build -t "puppet/kubetool:4.0.1" .` inside the 'tooling' directory of the module.

that may not be the solution here, as im noticing the container is making OS.yaml but not hostname.yaml. YMMV

[2019-07-19 14:29] martezr commented on #319
@daveoy The 4.0.0 version of the container worked for me but I just wanted to highlight that the documentation states to use the tag that matches the module version but that the corresponding tag doesn't exist. Ultimately the solution will be to push the corresponding tagged version of the image to Docker hub.

[2019-07-20 00:38] daveoy commented on #319
I tried this as well today and it also worked to generate the config.

[2019-07-23 14:17] #275 closed

[2019-07-24 08:05] sheenaajay commented on #277
The issue is fixed with this PR https://github.com/puppetlabs/puppetlabs-kubernetes/pull/313
Thank you.

[2019-07-24 08:05] #277 closed

[2019-08-23 17:17] iridian-ks opened #331 "Failed to request cluster info, will try again: [configmaps "cluster-info" is forbidden: User "system:anonymous" cannot get resource "configmaps" in API group "" in the namespace "kube-public"]"
## Describe the Bug

On the worker nodes, it looks like Puppet is completely hanging here: https://github.com/puppetlabs/puppetlabs-kubernetes/blob/master/manifests/kubeadm_join.pp#L50

I have to send SIGTERM to the puppet run to get it to end. When re-running puppet agent in debug mode I see it hanging on that exec.

When running that command manually and adding -v 4 I see this:

[code]

## Expec

[2019-08-30 00:11] stephencroberts opened #333 "Config etcd_ca_key appears unused and confusing"
Comparing the docs between [etcd](https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/security.md#basic-setup) and [this puppet module](https://forge.puppet.com/puppetlabs/kubernetes#etcd_ca_key), it appears that `etcd_ca_key` is actually unused and caused some confusion for me. I do see that the config option will create a file `ca.key` but that file does not appear to be used. Can

[2019-09-05 18:16] aptituz opened #334 "Wrong default for kubernetes::kubernetes_apt_location"
## Describe the Bug
I tried to use this module to setup kubernetes in a vagrant environment and it failed to install the kubernetes packages, since the repository location is wrong.

As the documentation states `kubernetes::kubernetes_apt_location` points to `https://apt.kubernetes.io` but in fact it points to`https://apt.kubernetes.io`.

## Expected Behavior
I would expect the module to use the d

[2019-09-05 18:23] aptituz opened #335 "Wrong default for kubernetes::kubernetes_apt_release"
## Describe the Bug
A usage of this module on Ubuntu bionic fails, because the module incorrectly assumes the kubernetes repositories to follow the notion of repository including the distribution codename.

## Expected Behavior
The module should not use $::codename for the default of `kubernetes::kubernetes_apt_release` since the kubernetes developers do not supply a codename-specific release.

In

[2019-09-05 18:31] aptituz opened #336 "Module doesn't work with newer kubernetes versions"
## Describe the Bug
Even though the documentation states that the module can be used to install kubernetes "Kubernetes 1.10.x or higher" the installation of kubernetes fails on recent versions, because the generated Kubeadm config is using the wrong API version.

This is probably because of the quiet naive version selector in https://github.com/puppetlabs/puppetlabs-kubernetes/blob/master/manifest

[2019-09-05 18:59] flostru commented on #336
True for kubeadm upgrade to 1.15
Upgrade to 1.14 works fine since 1.14 still uses v1beta1
Reading v1beta1 wil still work in 1.15 thou but doing a manual kubeadm upgrade will migrate to v1beta2 wich will be overwritten by Puppet.
Note that an upgrade to 1.15 will rotate your certs aswell if you dont explicitely prevent that during kubeadm upgrade resulting in a broken cluster since Puppet will push

[2019-09-05 19:05] aptituz commented on #336
Ah, sorry, it seems I confused the api versions and was a bit to fast with my conclusion what's the problem. I'm currently doing another run to properly update my issue.

[2019-09-05 19:17] flostru commented on #336
No problem, you got a valid point here, even thou you might be able to spawn a new cluster with this module you might run into serious trouble when upgrading kubernetes to 1.15

[2019-09-05 21:12] aptituz commented on #336
Okay, turns out I had a totally different issue (I specified a non semver version for kubernetes version and this caused kubeadm init to fail - the parameter could need a validation I guess :)) and draw wrong conclusions.

Nevertheless as you already pointed out, it's probably still not possible to install v1.15 (didn't test it again, though).

Whatever the solution for that I'd suggest to change

[2019-09-06 10:11] aptituz opened #339 "Configure systemd cgroup driver?"
## Use Case
The documentation for Kubernetes (https://kubernetes.io/docs/setup/production-environment/container-runtimes/) suggests to explicitly configure the cgroup driver for docker to systemd on Ubuntu.

In fact kubeadm even spits a warning when using the module-generated configuration that the user never gets to see.

## Describe the Solution You Would Like
In order to be more in line with wh

[2019-09-06 10:18] aptituz commented on #339
Note that I am referring to the docker cgroup driver here - as the corresponding setting for kubeadm is already configurable. If that would be implemented, it would probably make sense to

1. use the same setting which is used for generating the kubeadm config
2. change the default for ubuntu to "systemd" since thats the suggested configuration by the kubernetes documentation

[2019-09-08 18:28] aptituz opened #341 "Put packages on hold after installation?"
## Use Case
The documentation suggests to put the kubelet, kubeadm, kubectl packages et cetera on hold after installation, which absolutely makes sense so that the admin of a kubernetes cluster can have a controlled upgrade path for the kubernetes components which is independent from the operating system upgrades.

## Describe the Solution You Would Like

In order to avoid accidental upgrades to t

[2019-09-09 13:39] sheenaajay commented on #334
https://github.com/puppetlabs/puppetlabs-kubernetes/pull/337
Above PR contains the fix. Thank you.

[2019-09-11 10:34] sheenaajay commented on #335
https://github.com/puppetlabs/puppetlabs-kubernetes/pull/338/files

[2019-09-20 14:02] chrber opened #343 "Generating the module configuration - not working"
## Describe the Bug
using https://forge.puppet.com/puppetlabs/kubernetes/readme

sudo docker run --rm -v $(pwd):/mnt --env-file env puppet/kubetool:5.0.0
/etc/k8s/kube_tool/other_params.rb:9:in `create': undefined method `match' for nil:NilClass (NoMethodError)
Did you mean?  catch
        from /etc/k8s/kube_tool.rb:67:in `build_hiera'
        from /etc/k8s/kube_tool.rb:82:in `<main>'

## Expected

[2019-09-28 19:52] olevole opened #345 "parameter 'XXXX' expects a String value, got Undef"
I try to use a simple configuration:

[code]
got:

[code]

## Expected Behavior
Expected k8s controller

## Steps to Reproduce
Steps to reproduce the behavior:
1. Install clean CentOS ( CentOS Linux release 7.7.1908 (Core) )
2. Install kubernetes/docker puppet module
3. Add to manifest:

[code]
4. apply config (puppet apply, puppet agent -t)

## Environment
 - puppetlabs-kubernetes 5.0.0.
 - CentO

[2019-10-02 12:30] carabasdaniel commented on #345
Hi @olevole, to use the puppetlabs-kubernetes module those parameters need to be provided in the configuration. You can use the kubetool docker image to generate a basic configuration if you want to test it out.

[2019-10-02 12:33] carabasdaniel commented on #343
Hello @chrber, could you try running the command as follows, maybe one of the environment variables required was missing from the configuration:
`docker run --rm -v $(pwd):/mnt -e OS=redhat -e VERSION=1.13.5 -e CONTAINER_RUNTIME=docker -e CNI_PROVIDER=weave -e ETCD_INITIAL_CLUSTER=kube-master:172.20.20.10 -e ETCD_IP="%{::ipaddress_eth1}" -e KUBE_API_ADVERTISE_ADDRESS="%{::ipaddress_eth1}" -e INSTA

[2019-10-02 12:42] #319 closed

[2019-10-04 07:23] olevole commented on #345
Thz!

[2019-10-04 07:23] #345 closed

[2019-11-19 15:04] TJM opened #354 "Allow use of eyaml to encrypt private keys in kube_tool"
## Use Case
After using this tool, we spend several manual steps copying the SSL and SSH private keys to a separate file, to encrypt with eyaml.

## Describe the Solution You Would Like
It would be nice if there was an option to pass in the eyaml public key to encrypt those directly after generating them.

## Describe Alternatives You've Considered
Maybe we could use the eyaml edit command and put

[2019-11-19 15:07] TJM commented on #52
We workaround this issue by configuring the node at provisioning time to only apply our "base" role on the masters. Once they are built, we have the hostnames and IP addresses to make the SSL certs with kubetool, update hieradata, then change the role to kubernetes.

~tommy

[2019-11-19 15:15] TJM opened #355 "Look into dynamically generating the host certs"
## Use Case
It should be possible to only pre-generate the CA certs, allowing each host to generate their own host certificate, using dynamic (facts) rather than having to specify everything to generate all the certificates at once. We have done something similar with elasticsearch clusters.

## Describe the Solution You Would Like
Basically, only require the CA certificate(s), use kubetool or som

[2019-11-19 15:33] TJM commented on #333
It is brought into the `kubernetes::config::kubeadm`  class: https://github.com/puppetlabs/puppetlabs-kubernetes/blob/master/manifests/config/kubeadm.pp#L9

... which creates various cert/key files: https://github.com/puppetlabs/puppetlabs-kubernetes/blob/master/manifests/config/kubeadm.pp#L58-L75

... from templates like this one: https://github.com/puppetlabs/puppetlabs-kubernetes/blob/master/te

[2019-11-19 16:39] stephencroberts commented on #333
Thanks for taking a look @TJM. It's true, puppet does create the file, but the file isn't actually used by etcd or kubernetes from what I can tell.

[2019-11-19 16:41] TJM commented on #333
Yea, sorry, I answered the wrong question :)

[2019-11-25 18:49] nickperry commented on #336
We have installed 1.15.6 clusters using the module and upgraded 1.14 clusters to 1.15 without any problem. As an aside @flostru, the automatic rotation of the certs during upgrade should cause any problems - they're still signed by the original CA.

In my opinion this issue should be closed.

[2019-11-26 15:40] blodone commented on #217
We detected the same error for a worker configuration. It seems that the package kubeadm is installed and the file /etc/systemd/system/kubelet.service.d/10-kubeadm.conf is placed in this system. then when the service is being enabled the file /var/lib/kubelet/config.yaml referenced in the 10-kubeadm.conf is not found and puppet apply hangs forever

[2019-11-26 23:26] nickperry opened #357 "Control Docker container log file rotation"
## Use Case
I need to be able to control Docker container log file rotation.

## Describe the Solution You Would Like
The module now has manages Docker's daemon.json via a file resource. I would like this to use a template that has parameters for max-size and max-files in the log-opts section.

## Describe Alternatives You've Considered
Prior to https://github.com/puppetlabs/puppetlabs-kubernetes/

[2019-11-28 14:40] #357 closed

[2019-11-28 15:08] #302 closed

[2019-11-28 15:09] carabasdaniel commented on #304
PR merged

[2019-11-28 15:09] #304 closed

[2019-11-29 15:59] nickperry commented on #301
This is a blocker if you want to set cloud-provider to "External", for example to use https://cloud-provider-vsphere.sigs.k8s.io/concepts/cpi_overview.html. In that case you do not have a cloud_config.

[2019-12-02 11:39] blodone opened #362 "Worker kubelet setup race condition"
## Description
OS: **Ubuntu 18.04**

We detected an error for a worker configuration (is_worker => true).
It seems that when the package "kubeadm" is installed and the service is enabled a config file should be provided (in /etc/systemd/system/kubelet.service.d/10-kubeadm.conf)

The file "/var/lib/kubelet/config.yaml" referenced in the 10-kubeadm.conf is not found and puppet apply hangs forever.
[

[2019-12-02 11:54] blodone commented on #217
created a new issue https://github.com/puppetlabs/puppetlabs-kubernetes/issues/362

[2019-12-03 15:51] vrmerlin opened #364 "Process for Kubernetes upgrades?"
## Describe the Change You Would Like
A clear and concise description of what you would like changed.

We are currently using the Kubernetes Puppet module version 3.2.2, and we'd like to upgrade to 4.0.0. Is there a documented procedure for doing this upgrade cleanly? Do we need to re-create the entire infrastructure with a new YAML file created from kubetool? That sounds like a big impact, and I'

[2019-12-03 20:37] TJM commented on #190
I think the best solution for this would be to expand etcd into /usr/local/etcd-$VERSION and create a symlink from /usr/local/bin instead of the `--strip-components` near the line that @keur mentioned above that causes the files to be extracted to /usr/local/bin directly. This would also require:

* Remove the `extract_comand` line (as this is what is stripping off the name of the folder)
* Update

[2019-12-04 14:43] #301 closed

[2019-12-04 21:47] TJM opened #365 "Disable swap is a "runtime" configuration, should also apply to fstab"
## Describe the Bug
If a host has this module applied to it, everything seems to be fine until the host reboots, then the swap comes back and kubelet wont start.

## Expected Behavior
SWAP should be disabled at boot time as well as turned off.

## Steps to Reproduce
Steps to reproduce the behavior:
1. apply this code
2. reboot

## Environment
 - Version 5.0.0
 - Platform CentOS 7.6.1810

## Additi

[2019-12-05 09:21] blodone commented on #138
we encountered the same issue with local kitchen test setup. only if all controller nodes are provisioned the same time in parallel the run continues. otherwise if one node is not setup it hangs forever

[2019-12-07 00:32] nickperry opened #367 "It is not possible to upgrade from 5.0.0 or earlier due to Docker cgroup setting clash"
## Describe the Bug
A clear and concise description of what the bug is.

Commit https://github.com/puppetlabs/puppetlabs-kubernetes/commit/6ad08c03ae6a7aafcda2b30c0d743246358ed72a changed where the cgroup driver for docker was set from the systemd unit file to /etc/docker/daemon.json.

After upgrading the version of the kubernetes module, you end up with the setting in both locations. These clash

[2019-12-11 15:08] #335 closed

[2019-12-20 13:22] yotles opened #373 "Renew cert process after expiration"
What the correct way for cluster deployed by this module to renew certificates after their expiration after year? Did anyone faced with this procedure?

[2020-01-10 01:38] TJM opened #375 "Allow kubernetes::apiserver_extra_arguments to accept hash"
## Use Case
It would be nice if the apiserver_extra_arguments could be a hash

## Describe the Solution You Would Like
I would like it if the `kubernetes::apiserver_extra_arguments` could be specified as a hash instead of an array. The values of the array turn out to be name: value anyhow, so it seems like it would be less awkward.

## Describe Alternatives You've Considered
This is what I have to

[2020-01-15 14:27] jonjhallettuob opened #378 "Default Docker yum repo has been disabled"
## What you expected to happen?

The Kubernetes class should install packages

## What happened?
yum stopped working because the default Puppet-configured docker repo has been disabled.

curl shows the problem:

[code]

## How to reproduce it?

Attempt to install a Kubernetes worker with

[code]

The Hiera configuration is of the form below.

[code]

## Anything else we need to know?

The node ins

[2020-01-15 15:28] carabasdaniel commented on #373
Hello @yotles

Updating the certificates in the Hiera data should automatically update the files on the disk whenever a Puppet run is triggered, but a restart will be needed for the Kubernetes component to pick up the new configuration on those machines.

If you update the certificates through kubeadm cli, these will be rewritten in the configuration files from the hiera data.

[2020-01-20 23:42] bitvijays opened #381 "Failed Installation on Ubuntu 18.04.3 LTS"
## Describe the Bug
Trying to install kubernetes using puppetlabs-kubernetes on Ubuntu 18.04.3 LTS using Puppet.

## Expected Behavior
Kubernetes getting installed.

## Steps to Reproduce

Steps to reproduce the behavior:
1. Try to install Kubernetes using Puppet. Below is the site.pp manifest file

Site.pp

[code]
node 'example.local'{
        include profile::kubernetes_server

[2020-01-28 13:01] carabasdaniel commented on #378
Hi @jonjhallettuob,

Thanks for opening this issue, for now please use the
[docker_yum_baseurl ](https://github.com/puppetlabs/puppetlabs-kubernetes/blob/e2769dfbceec47a43157d2836ac276c76156e3d1/manifests/init.pp#L334) parameter to set the yum base url in your hiera data.

[2020-01-28 15:46] #334 closed

[2020-02-12 09:25] carabasdaniel commented on #381
Hi @bitvijays

Currently the kubernetes_apt_location parameter defaults to https://apt.kubernetes.io and as you can see from the error message this is an apt error. There are different workaround if you want to install Kubernetes on Ubuntu Bionic but, for now, this module is compatible with Ubuntu Xenial as shown in the metadata.json of this module.

[2020-02-12 17:43] bitvijays commented on #381
@carabasdaniel Hope you re doing well. Thank you for your response. My apologies, would it be possible for you to tell me a simplest workaround? Is there a way we can change the kubernetes_apt_location of any other variable to get Kubernetes installed?

[2020-02-14 10:47] catsem commented on #367
This seems to affect fresh installations too.
At least in my setup with docker-ce 19.03.6 and kubernetes 1.17.3.

My workaround for now is to add this line to the %{osfamily}.yaml

[2020-02-14 10:55] catsem commented on #381
I had the same issue.
With the following config I could setup the cluster in ubuntu bionic:

kubernetes::docker_apt_location: "https://download.docker.com/linux/ubuntu"
kubernetes::docker_apt_release: "bionic"
kubernetes::docker_apt_repos: "stable"
kubernetes::docker_key_source: "https://download.docker.com/linux/ubuntu/gpg"
kubernetes::docker_key_id: "9DC858229FC7DD38854AE2D88D81803C0EBFCD88"
kub

[2020-02-21 13:56] bitvijays commented on #381
@carabasdaniel Hope you are doing well. Would it be possible to add @catsem suggestion in the Readme.md? May be in a subsection.

**Just a example below**

## Installing a updated version

If you want to install a updated version/ customise the installation, please change the below parameters:
[code]

@catsem Would it be possible for you to send a PR for the Readme.md? If @carabasdaniel is fine wi

[2020-03-03 15:33] jonjhallettuob opened #397 "Flannel hard-coded to use 10.244.0.0/16"
## Describe the Bug
Setting the CNI provider to Flannel causes CNI to ignore the `kubernetes::cni_pod_cidr` Hiera parameter, and always uses 10.244.0.0/16 as the CNI pod CIDR for the `cni0` interface.

For example, setting `kubernetes::cni_pod_cidr: 10.0.0.0/16` results in the `flannel.1` interfaces using an address from 10.0.0.0/16, but the `cni0` interface will incorrectly be allocated from `10.

[2020-03-13 16:12] scoopex opened #399 "Improve documentation for litmus acceptance tests"
Section https://github.com/puppetlabs/puppetlabs-kubernetes#development describes how to run the litmus tests.

I never used litmus before and i ran in the following problem:
[code]
It would be great to have a complete description how to use litmus.

[2020-03-18 08:57] carabasdaniel commented on #399
Hi @scoopex
In order to run the acceptance tests with Litmus you need to use Ruby > 2.5.

For more information about Litmus please see [the wiki](https://github.com/puppetlabs/puppet_litmus/wiki).

[2020-03-18 21:53] scoopex commented on #399
It fails withe following step:
[code]

Is that originated in the "puppet module install " commands in spec/spec_helper_acceptance_local.rb ?

[2020-03-20 11:20] #399 closed

[2020-03-20 11:23] carabasdaniel commented on #399
Closed issue as PR: https://github.com/puppetlabs/puppetlabs-kubernetes/pull/401 was merged.

The issue you had with the install module rake task failure is happening because the puppet agent is not installed on those machines (127.0.0.1:2200 and 127.0.0.1:2201). The install_module rake task builds the module you are working on and installs it on the test machine from the tarball.

[2020-04-01 11:34] RealGrimbi opened #402 "Module is using old repo - disabled yesterday"
## Describe the Bug
https://yum.dockerproject.org/repo/main/centos/7/repodata/repomd.xml
If Repo is updated manually from Link below:
Error: Could not update: Execution of '/usr/bin/yum -d 0 -e 0 -y install docker-engine-17.03.1.ce-1.el7.centos' returned 1: Error: Nothing to do
Error: /Stage[main]/Kubernetes::Packages/Package[docker-engine]/ensure: change from 'purged' to '17.03.1.ce-1.el7.centos'

[2020-04-01 14:19] dverdonschot commented on #402
We face the same issue. The yum repo is not working, and docker-engine deprecated by docker-ce.

[2020-05-07 20:18] nickperry opened #406 "Invalid field in v1beta1 kubeadm config template"
## Describe the Bug
`error unmarshaling configuration schema.GroupVersionKind{Group:"kubeproxy.config.k8s.io", Version:"v1alpha1", Kind:"KubeProxyConfiguration"}: error unmarshaling JSON: while decoding JSON: json: unknown field "max"`

## Expected Behavior
kubeadm init should run cleanly

## Steps to Reproduce
Steps to reproduce the behavior:
Apply module on control plane nodes, when the module r

[2020-05-18 11:08] sheenaajay commented on #406
PR is merged. Thank you @nickperry for your contribution.

[2020-05-18 11:08] #406 closed

[2020-06-05 16:11] scoopex opened #415 "Unable to install kubernetes release 1.18 : conntrack is missing"
## Describe the Bug

The puppetrun returns the following output:

[code]

## Expected Behavior

No warnings and not preflight errors which prevent the initaliazation of the cluster.

## Steps to Reproduce

Configure kubernetes release "1.18.0" on Ubuntu 18.04.

## Environment

 - Version 1.18.0
 - Platform Ubuntu 18.04

[2020-06-05 16:16] scoopex commented on #415
On ubuntu the tool is located at /usr/sbin/conntrack but kubernetes::default_path does not contain that path.

[2020-06-08 09:41] scoopex opened #417 "Automatic restart of etcd"
Changes of /etc/systemd/system/etcd.service do not trigger a restart of etcd.

I upgraded puppetlabs-kubernetes and goth the following changes.

[code]

## Expected Behavior

ETCD ist not automatically restarted after systemd was configured.
From my point of view it should be configurable that etcd is restarted on upgrades of reconfiguration.
(automatic_restart_etcd: true|false)
On change of the s

[2020-06-13 06:56] scoopex commented on #341
New pull request: https://github.com/puppetlabs/puppetlabs-kubernetes/pull/416

[2020-06-13 08:25] scoopex opened #419 "Acceptance tests not usable for unexperienced litmus users"
## Describe the Bug

The described steps in section "Development" are not working on Ubuntu 18.04.

See details in
[litmus.txt](https://github.com/puppetlabs/puppetlabs-kubernetes/files/4774295/litmus.txt)

## Expected Behavior

The procedure to setup and user litmus tests is described in a complete way.
The user doesn't need extra tweaks or special knowledge to use it:

- run tests
- inspecting a

[2020-06-13 08:49] scoopex commented on #190
Also related to #417

[2020-06-13 09:10] scoopex commented on #190
Probably it would be also a good idea to use the checksum flags of puppet/archive.
(see https://forge.puppet.com/puppet/archive)

As i can remember puppet/archive downloads the archive again if the checksum does not match.

kubernetes::packages might have the following options with the following defaults:

* archive_checksum_type: sha256
* etcd_archive_checksum: undef
* containerd_archive_checksum

[2020-06-13 13:21] scoopex commented on #190
Started to fix that at https://github.com/scoopex/puppetlabs-kubernetes/tree/component_installation for all archives/components.
From my point of view that works, but i would be very happy for feedback which helps me to find some edge cases :-)

[2020-06-15 15:41] sanfrancrisko commented on #419
@scoopex Thanks for reporting. Looking at the console output, my guess is that your `inventory.yaml` could have had entries from a previously provisioned test run and these containers were torn down using Docker directly or some other manner other than `bundle exec rake litmus:tear_down`

Note the port numbers of the hosts you're provisioning (`2202`, `2203` and `2204`):
[code]
Then the `litmus:in

[2020-06-15 16:18] sanfrancrisko commented on #419
Raised [IAC-888](https://github.com/puppetlabs/puppetlabs-kubernetes/issues/419) should you wish to follow @scoopex

[2020-06-15 19:31] scoopex commented on #419
I missed that there is that file, because it is part of the .gitignore file (attached it).
[inventory.yaml.txt](https://github.com/puppetlabs/puppetlabs-kubernetes/files/4782424/inventory.yaml.txt)

Deleted the file an tried it again. Is there a procedure for the teardown of the virtualbox systems that should be part of the documentation?

Same problem appears:
[code]
[inventory.yaml.after.delete.

[2020-06-16 09:44] sanfrancrisko commented on #419
@scoopex The tear down steps are outlined in the documentation in [step 7 on this page](https://puppetlabs.github.io/litmus/Running-acceptance-tests.html):
[code]
Deleting the file will work too, but it will mean having to monitor and remove resources manually from Docker / Vagrant / Other provisioning platform. You can do this is you safely know the `inventory.yaml` has been sitting around for a

[2020-06-16 20:01] scoopex commented on #419
Before writing my last comment i deleted the file and executed the steps exactly in the order like described in the README.
I upgraded to litmus 0.18.3 and reexecuted all the steps without success :-1: (

[fail.txt](https://github.com/puppetlabs/puppetlabs-kubernetes/files/4788829/fail.txt)

I use kitchen for acceptance tests, an i am pretty happy with that :-)
(example https://github.com/scoopex/

[2020-07-02 06:42] rogermartensson opened #421 "Cant install dashboard v2.0.0"
## Describe the Bug
I'm installing Kubernetes v1.18.0 and would like to use the latest dashboard.
I can't install the dashboard by setting kubernetes::install_dashboard to true and dashboard_version to v2.0.0.

## Expected Behavior
The dashboard v2.0.0 should be installed.

## Steps to Reproduce
Enable dashboard install and set version to v2.0.0

## Environment
Module version 5.1.0 using puppet 5.

[2020-07-14 01:30] thaylin opened #422 "cannot install any version of ETCD except the base 3.2.18"
## Describe the Bug
In setting up a new cluster ETCD is not being installed by the defined version but is defaulting to the base version
Jul 13 21:15:44 k8m-d1.[71791]: etcd Version: 3.2.18

## Expected Behavior
install etcd 3.4.9.

## Steps to Reproduce
Steps to reproduce the behavior:

kubernetes::kubernetes_version: 1.18.5-0
--
  | kubernetes::etcd_version: 3.4.9
  | kubernetes::controller: tru

[2020-07-14 11:06] thaylin commented on #422
Oddly in debug I see [0;36mDebug: Cleanup archive /etcd-v3.4.9-linux-amd64.tar.gz^[[0, however it is still installing the lower version 3.2.18. The server has no repos that can install etcd itself.

[2020-07-16 11:49] galindro opened #424 "Add ttl_duration in README.md"
## Describe the Change You Would Like
Can you please add ttl_duration flag to the README.md? I faced exactly the same problem described in https://github.com/puppetlabs/puppetlabs-kubernetes/issues/277 and I needed to dig into a lots of other docs before found it.

[2020-07-17 07:22] galindro opened #425 "Add node labels"
## Use Case
I would like to being able to add node labels to nodes. The parameter node_label is a bit confuse because it controls the node NAME and not the node LABELS.

## Describe the Solution You Would Like
I propose to:

1. Change the node_label parameter to node_name
2. Add an optional map parameter called node_labels which should contain a map of labels and their respective values.

## Descr

[2020-07-17 07:37] galindro opened #426 "Add a parameter to taint node"
## Use Case
I would like to provision a kubernetes cluster where a set of nodes shall be dedicated to some particular set of applications and I don't want that any other applications run on these nodes. To achieve this, I taint these nodes and I add a pod toleration to each of these applications that must run on these nodes.

## Describe the Solution You Would Like
Add a string parameter called no

[2020-07-27 18:22] thaylin commented on #422
@sanfrancrisko or any other developer that an help me out with this?

[2020-08-10 12:15] daianamezdrea commented on #419
Hi @scoopex, when I started to test your PRs I encountered the same problem and this is how I solve it:
1.  before install module run this: **bolt task run provision::fix_secure_path --inventory inventory.yaml --targets 127.0.0.1:2222 --modulepath spec/fixtures/modules/**
2. re-run install module
3. if you have more targets you need to apply fix_secure_path for every target

Please try this and te

[2020-08-17 23:01] sazzle2611 commented on #367
We have several clusters initially installed with 5.0.0 and have come across this problem. OS Centos 7.

To fix I had to manually edit the file /usr/lib/systemd/system/docker.service and change the line

ExecStart=/usr/bin/dockerd --exec-opt native.cgroupdriver=systemd

to

ExecStart=/usr/bin/dockerd -H fd:// --containerd=/run/containerd/containerd.sock

And then restart docker and kubelet

[2020-08-31 13:00] nepomucen commented on #419
Hi @daianamezdrea, the workaround suggested by you worked for me pretty well on ubuntu/xenial64 (Ubuntu 16.04 LTS image for vagrant Provisioner), thanks for it. [](url)
[success_puppet6.txt](https://github.com/puppetlabs/puppetlabs-kubernetes/files/5150359/success_puppet6.txt)

[2020-09-16 15:48] scoopex commented on #341
From my point of view this works now for debian based distributions

[2020-09-16 15:56] scoopex opened #439 "Reserve Compute Resources for System Daemons"
## Use Case

It seem to be best practice to guarantee resource for the kubernetes system daemons

## Describe the Solution You Would Like

https://kubernetes.io/docs/tasks/administer-cluster/reserve-compute-resources/
https://www.credativ.de/blog/howtos/verwaltung-von-hardware-ressourcen-in-kubernetes/ (German)

There should be a automatic logic which configures guarantees for kubernetes system da

[2020-09-18 13:03] odidev opened #440 "Added arm64 jobs for Travis-CI"
## Use Case
Added arm64 jobs for Travis-CI

## Describe the Solution You Would Like
To add arm64 support in "travis.yml", RVM version needs to be updated form 2.4.5 to 2.4.9 for arm64 job, as 2.4.5 version is not available for arm64 platform. So replaced the version to closest available version which is 2.4.9 for arm64. Now all the jobs are passing. please have a look:

https://travis-ci.com/githu

[2020-09-20 20:16] abegosum opened #441 "kubetool missing tag for latest module version (5.3.0)"
## What you expected to happen?

Per the documentation, I should be able to run a container of the kubetool image with a tag corresponding to my module version (5.3.0).

## What happened?

The latest tag is 5.2.0, and the command fails as written:

[code]

## How to reproduce it?

Attempt to run the above docker image command (with an env file) or check hub.docker.com to confirm missing tag.

## V

[2020-09-24 16:26] sheenaajay commented on #441
Thanks alot @abegosum for opening the issue. kubetool image is updated with latest 5.3.0
https://hub.docker.com/layers/puppet/kubetool/5.3.0/images/sha256-0fdf9a7a2f544f9de4a6daf7e07f477778fd3a6685ae0a10bc9789069c1b347d?context=explore

[2020-09-24 16:27] #441 closed

[2020-10-13 09:47] galindro opened #445 "Changes made to apiserver_extra_arguments doesn't gets applied to a running cluster"
## Describe the Bug
I need to enable an admission controller on apiserver. To do it, I updated `apiserver_extra_arguments` but puppet just updates the kubeadm config (`/etc/kubernetes/config.yaml`) and not `/etc/kubernetes/manifests/kube-apiserver.yaml`.

## Expected Behavior
Update `/etc/kubernetes/manifests/kube-apiserver.yaml` too, making everything necessary for kube-apiserver service reloads

[2020-11-05 22:13] binford2k commented on #402
resolved in #414

[2020-11-05 22:13] #402 closed

[2020-11-05 22:15] binford2k commented on #378
resolved in #436

[2020-11-05 22:15] #378 closed

[2020-11-18 13:43] Antiarchitect opened #450 "Kubeadm skip phases"
## Use Case
In my particular case, I would like to skip one of the kubeadm phases `upload-kubeletconfig` because I want to use my own and not the newly-generated by kubeadm

## Describe the Solution You Would Like
some parameter that allows setting phases that would be skipped by kubeadm

## Describe Alternatives You've Considered
Possibly kubeadm can be configured to use an alternative ConfigMap

[2020-12-02 19:01] AstraLuma opened #458 "Containerd docs link"
## Describe the Change You Would Like
In `README.md`, the link about running containerd (`https://kubernetes-v1-4.github.io/docs/user-guide/load-balancer/`) is dead.

Please update it.

[2020-12-18 21:18] daveoy opened #468 "containerd github release link tweak"
## Describe the Bug
the module is trying to get releases in this format: https://github.com/containerd/containerd/releases/download/v1.4.3/containerd-1.4.3.linux-amd64.tar.gz
however the releases are artually stored in this format: https://github.com/containerd/containerd/releases/download/v1.4.3/containerd-1.4.3-linux-amd64.tar.gz

## Expected Behavior
expected to download the containerd release

[2020-12-18 21:26] daveoy commented on #468
i can confirm that kubernetes::containerd_archive: containerd-1.4.3-linux-amd64.tar.gz will work around this issue, but you may want to change the default.

[2020-12-25 05:42] djschaap opened #469 "Recent calico releases (>=3.15) are not supported"
## Describe the Bug
The cni_network_provider URL in tooling/kube_tool/other_params.rb is not correct for calico >= 3.15.

## Expected Behavior
When I requested calico 3.17.1 in the kubetool env, I expected calico 3.17.1 to be installed.

Instead of success, I got:
`Dec 25 ... xxx puppet-agent[13714]: (/Stage[main]/Kubernetes::Kube_addons/Exec[Install cni network provider]/returns) error: unable to

[2021-01-18 09:55] carabasdaniel commented on #138
Hello @blodone,
Closing this issue as it has been from a very old version of the module. If the problem persists please feel free to re-open and add more recent information.
Thanks.

[2021-01-18 09:55] #138 closed

[2021-01-18 10:00] carabasdaniel commented on #177
Closing this issue as PR: https://github.com/puppetlabs/puppetlabs-kubernetes/pull/312/files has not been re-opened with required acceptance testing added

[2021-01-18 10:00] #177 closed

[2021-01-18 10:03] #458 closed

[2021-01-18 10:13] carabasdaniel commented on #190
Closing issue as PR#420 has been merged

[2021-01-18 10:13] #190 closed

[2021-01-18 10:15] carabasdaniel commented on #341
Closing this issue as PR with changes has already been merged

[2021-01-18 10:15] #341 closed

[2021-01-18 12:19] daianamezdrea commented on #284
Hi @KrisBuytaert, can you please try with the latest kubernetes version and see if the problem is still there? Thank you for adressing this, I'm waiting for your response

[2021-01-18 14:41] daianamezdrea commented on #267
Hi @stasiek, thank you for adressing the issue. I see that the changes were already applied:
`docker run --rm -v $(pwd):/mnt -e OS=**ubuntu** -e VERSION=1.10.2 -e CONTAINER_RUNTIME=docker -e CNI_PROVIDER=cilium -e CNI_PROVIDER_VERSION=1.4.3 -e ETCD_INITIAL_CLUSTER=kube-master:172.17.10.101,kube-replica-master-01:172.17.10.210,kube-replica-master-02:172.17.10.220 -e ETCD_IP="%{networking.ip}" -e KU

[2021-01-18 14:41] #267 closed

[2021-01-22 12:35] Antiarchitect commented on #450
Also actual for skip kube-proxy setup in case of clilium internal network - has full replacement for kube-proxy.

[2021-01-25 17:25] bitvijays opened #476 "Support for Debian 10/ Ubuntu 18.04 and 20.04"
Dear Puppetlabs Team,

Hope you are doing well and had a good weekend. Happy New Year to you :) Thank you for maintaining puppet modules. They really make our life easier. We do really appreciate the support 👍

## Use Case

Install Kubernetes on Ubuntu 18.04, 20.04 and Debian 10 using `puppetlabs-kubernetes`.

## Describe the Solution You Would Like
Implement the functionality of installing Kubern

[2021-02-04 18:34] Azulinho commented on #476
I use this module to manage a multi-node cluster on debian 10.

I had a look through my git history and found this one 'make kubernetes work on debian' that contained these changes,

``
# Docker repo and key as documented in
# https://docs.docker.com/install/linux/docker-ce/debian/
kubernetes::docker_apt_location: 'https://download.docker.com/linux/debian'
kubernetes::docker_apt_repos: 'stable'
ku

[2021-02-09 13:35] danifr opened #479 "Push v5.5.0 image to dockerhub"
From the docs:

Latest version of the module is `5.5.0` but only `5.3.0` is available on dockerhub: https://hub.docker.com/r/puppet/kubetool/tags?page=1&ordering=last_updated

Please push `5.5.0` or change the docs to reflect that latest is `5.3.0`.
Thanks a lot.

[2021-02-16 08:46] #469 closed

[2021-03-01 15:17] mcblum commented on #476
@Azulinho I've copied your config for my setup and I cannot get it to work for the life of me! Been a few days of trying now. From what I can tell (I'm a K8s noob) the config files are not actually generated at `/etc/kubernetes/kubelet.conf` nor is the one in /var/lib there.

[2021-03-01 15:27] mcblum opened #490 "Error: failed to read Kubelet config file"
## Describe the Bug
On a new three-node cluseter of Kubernetes, the config files appear not to be generated.

## Expected Behavior
I expect that kublet would start on the controller.

## Steps to Reproduce
Basically just followed the docs exactly, didn't see any errors, but it doesn't work.

## Environment
 - Version 1.17.3
 - Platform Ubuntu 20.04

## Additional Context
Logs are full of the same

[2021-03-01 15:33] mcblum commented on #362
@blodone did you ever sort this out? I'm seeing the exact same issue.

[2021-03-01 16:49] mcblum commented on #490
I'm not sure if this is related, but my Puppet runs hand as well. Basically right after `/etc/kubernetes/config.yaml` is written, the output simply stops and the run never completes.

[2021-03-01 16:50] mcblum commented on #490
Adding a similar issue for reference: https://github.com/puppetlabs/puppetlabs-kubernetes/issues/362

[2021-03-02 00:54] bitvijays opened #491 "Installation Kubernetes | Hiera | Values not fetched"
Dear Puppet Team,

Hope you are doing well and had a good weekend. Thank you for the continuous support 👍

Currently trying to install Kubernetes using Puppetlabs-Kubernetes and getting an error related to Hiera. My apologies, my knowledge of Hiera is None.

## What you expected to happen?
Kubernetes installed

## What happened?
It seems that Puppet did not find the location of `Debian.yaml` and `

[2021-03-04 22:16] vrmerlin opened #493 "puppet/kubetool:6.0.0 isn't in hub.docker.com"
Hi folks,

The puppet/kubernetes 6.0.0 module has been available for a couple days now, but I don't see a corresponding version of the kubetool. Per the documentation, these need to match, so I'm not sure how we deploy 6.0.0 without the tool.

Will puppet/kubetool:6.0.0 be released to hub.docker.com soon? I don't see 5.5.0 there either.

[2021-03-05 07:52] #491 closed

[2021-03-05 13:24] #476 closed

[2021-03-05 13:25] #381 closed

[2021-03-17 09:02] danifr commented on #493
Please check again https://hub.docker.com/r/puppet/kubetool/tags?page=1&ordering=last_updated

[2021-03-17 09:03] danifr commented on #479
I was added (alongside with 6.0.0) a few days ago: https://hub.docker.com/r/puppet/kubetool/tags?page=1&ordering=last_updated

[2021-03-17 09:03] #479 closed

[2021-03-17 09:05] danifr commented on #468
I believe this commit https://github.com/puppetlabs/puppetlabs-kubernetes/commit/098ddc59820b3fb3b80c8fd19db5546f44bd5994 fixes this issue

[2021-03-19 08:56] daianamezdrea commented on #493
Hi @vrmerlin, the last the versions were pushed, thank you for opening the issue! Thank you also @danifr for your comment!

[2021-03-19 08:56] #493 closed

[2021-03-24 08:07] daianamezdrea commented on #468
Hi @danifr and @daveoy, the issue was solved, let me know if you need something else. Thank you!

[2021-03-24 08:07] #468 closed

[2021-04-08 15:30] aleita commented on #284
Hi, same problem here with the last module version

[2021-04-13 19:59] vrmerlin commented on #364
I posted this well over a year ago, and never received a reply. Would someone please respond? It seems to me this would be an important issue for many people.

[2021-04-15 22:03] vrmerlin opened #508 "How do I safely do a Kubernetes upgrade if I'm using puppetlabs-kubernetes?"
## Use Case

I have successfully this puppetlabs-kubernetes module, version 6.0.0, to deploy Kubernetes 1.20.4. It went smoothly and the cluster is behaving well.

But, Kubernetes 1.20.6 and now even 1.21.0 releases are out. What is the process for smoothly upgrading a cluster to those versions, using this module?

## Describe the Solution You Would Like
Documentation additions that explain how I

[2021-04-20 03:24] vrmerlin commented on #508
Is there no answer to this? I asked this question a year go, and also received no answer. It seems to me a process for doing safe upgrades is really critical.

[2021-04-24 01:28] gaure opened #513 "class kubernetes::kube_addons continues to execute the Exec['Install cni network provider'] even if calico is installed, because is in a namespace other than calico-system."
## Describe the Bug
class kubernetes::kube_addons continues to execute the Exec['Install cni network provider'] even if calico is installed, because is in a namespace other than calico-system.

## Expected Behavior
Kubernetes masters Exec['Install cni network provider']  properly detects calico daemon set namespace.

## Steps to Reproduce
Steps to reproduce the behavior:
1. Upgrade from module ver

[2021-04-28 13:32] danifr opened #515 "containerd archive install method does not provide a config.toml"
As the title says when using containerd with "archive" installation method, the module does not provide a config.toml.
I will work on a PR to fix this.

[2021-04-28 13:39] danifr commented on #508
+1 for visibility. Also interested in this :+1: Thanks

[2021-05-06 13:47] TheMeier commented on #422
I also tried to install etcd from centos extras. It has `EnvironmentFile=-/etc/etcd/etcd.conf` set in the service unit but the module configures /etc/defaultss/etcd

[2021-05-10 15:05] #515 closed

[2021-05-12 12:54] Antiarchitect commented on #450
Closing due to https://github.com/puppetlabs/puppetlabs-kubernetes/pull/507
Thank you so much guys!

[2021-05-12 12:54] #450 closed

[2021-06-10 17:12] peteroruba commented on #508
Same here

[2021-06-15 09:17] ashish1099 commented on #508
I have tried this manually, next upgrade I will try to do it from puppet, since this was learning so wanted to see what all I'm going to touch while upgrading the k8s

https://gist.github.com/ashish1099/8fd2a7a1905c3709558f51ce7d39e355

[2021-06-15 10:49] KlavsKlavsen commented on #445
Same issue here..

[2021-07-04 02:24] bitvijays opened #523 "Installs stahma-epel ? where it should install puppet-epel"
## Describe the Bug
Not sure if this is the correct place to write this bug or not. While installing `puppetlabs-kubernetes`, `stahma-epel` gets installed which is depreciated. Ideally `puppet-epel` should be installed.

## Expected Behavior
A clear and concise description of what you expected to happen.

## Steps to Reproduce
[code]

## Environment

OS Version
[code]

Puppet Version:
[code]

[cod

[2021-07-08 08:59] danifr commented on #523
You are using a VERY old version of this module. EPEL was deleted on 1.01 (https://github.com/puppetlabs/puppetlabs-kubernetes/pull/43/files)

Please use a new version of the module (6.10 is the latest)

[2021-07-09 13:47] danifr opened #524 "daemon-reload and restart kubelet after version change"
Inspired by https://github.com/puppetlabs/puppetlabs-kubernetes/issues/508#issuecomment-861335049, I used the puppetlabs-kubernetes module to perform a minor upgrade of my kubernetes cluster (from 1.20.4 to 1.20.8).

After kubeadm, kubectl and kubelet were upgraded, I realized that kubelet needs a manual restart. Otherwise the cluster does not acknowledge the upgrade.

I think this easily achievab

[2021-07-12 15:08] #424 closed

[2021-07-14 13:43] danifr commented on #513
I think this issue was solved by https://github.com/puppetlabs/puppetlabs-kubernetes/pull/511
I cannot reproduce it anymore

[2021-08-27 06:59] adispinjic opened #532 "Support for etcd containers (stacked etcd)"
## Use Case
As container images are already being pulled from k8s.gcr.io it would be practical to allow cluster creations with containerized etcd.

## Describe the Solution You Would Like
If manage_kubernetes is true you should be able to choose if it should be an external or internal etcd cluster.

## Describe Alternatives You've Considered
Packaged and binary etcd would require manual steps outs

[2021-09-13 11:20] adispinjic commented on #532
I think this would be of benefit for ones trying to create an ipv6 only cluster, as the kubetool isn't parsing the ipv6 environment values correctly either.

Example env file:

[code]
Output of "Ubuntu.yaml":
[code]
So the etcd service won't accept TLS traffic from its peers since the certificates don't validate.
I haven't tried this with stacked etcd, however it would be interesting to see if it

[2021-10-05 10:45] danifr opened #534 "Setting bootstrap token ttl_duration to '0' (no expiration) makes kubeadm fail (kubernetes v1.22.2)"
## Describe the Bug
Setting bootstrap token ttl_duration to '0' (no expiration) makes kubeadm fail

## Steps to Reproduce
[code]

## Possible fix
Template should use double quotes for `ttl` value. Here: https://github.com/puppetlabs/puppetlabs-kubernetes/blob/main/templates/v1beta3/config_kubeadm.yaml.erb#L6 (and all the other templates too)

I can work on a fix if @daianamezdrea agrees

[2021-10-05 10:51] danifr commented on #534
One (ugly) workaround that does not require any changes in the current module code could be wrapping "0" in single quotes:
`kubernetes::ttl_duration: '"0"'`

[2021-11-11 14:40] jadestorm commented on #513
We had to change:
kubernetes::cni_provider: 'calico'
to
kubernetes::cni_provider: 'calico-tigera'
(after #511 mentioned above)
That fixed this issue for us.

[2021-11-22 20:28] abegosum commented on #373
What is the recommended way of updating the certificates in hiera?  Just a re-run of the kubetool container?

[2021-12-10 03:13] bdowling opened #536 "Procedure for adding new controller nodes/etcd into existing cluster."
## What you expected to happen?

I would like to be able to add additional control nodes into an existing cluster (increase from 3 to 5).    I have searched around, but have not found a documented procedure for this.

e.g. does kubetool support creating certs for the new nodes?

How are the existing nodes updated to accept the new members.

If this is possible and documentation exists, please poin

[2021-12-10 12:53] adispinjic opened #537 "IPv4/IPv6 dual stack support"
## Use Case
I would love to use this module with IPv6, seeing as https://kubernetes.io/docs/concepts/services-networking/dual-stack/ has reached a stable feature state in 1.23.

The direct use case is to be able to provision a kubernetes cluster with IPv6 connectivity.

## Describe the Solution You Would Like
I think the only thing holding back this module for dual stack support is the way the Kub

[2021-12-10 12:54] adispinjic commented on #532
Closing the issue since I believe #537 will solve what I'm trying to achieve.

[2021-12-10 12:54] #532 closed

[2021-12-14 16:34] sazzle2611 opened #538 "Update camptocamp-kmod to puppet-kmod"
This module has been taken over so puppet now complains about missing dependency since we needed to change the module in order to upgrade it as it was dependency for another module.

[2021-12-14 16:38] bastelfreak commented on #538
@sazzle2611 could you provide a PR that updates the name? https://github.com/puppetlabs/puppetlabs-kubernetes/blob/main/metadata.json#L32-L33 and https://github.com/puppetlabs/puppetlabs-kubernetes/blob/main/.fixtures.yml#L9

[2021-12-14 18:42] bitvijays commented on #538
@sazzle2611 @bastelfreak

Would it be a good idea to update the dependencies version also?

[code]

- `puppet-stdlib` is at version `8.1.0`

[2021-12-14 19:35] sazzle2611 commented on #538
@bastelfreak @bitvijays

Should I update the puppet-archive dependency to < 6.0.0 or < 7.0.0 as v6.0.0 drops support for Ubuntu 16.4. It is EoL but it is supported by this module

[2021-12-14 19:58] sazzle2611 commented on #538
Sorry just realised that it doesn't matter as previous versions can still be used

[2021-12-14 20:52] sazzle2611 commented on #538
I've created PR https://github.com/puppetlabs/puppetlabs-kubernetes/pull/539

This is the first one I've ever done so hopefully I've done it right!!

[2021-12-18 11:40] nickperry opened #541 "kube-scheduler is in a crash-loop when cloud_provider is set"
## Describe the Bug

After upgrading from 5.3.0 of the kubernetes module to 6.3.0, we can no longer build working clusters.

When we build a cluster with 6.3.0 with cloud_provider set, kube-scheduler ends up in a crash loop.

Looking at kube-scheduler's logs we can see the problem is

`Error: unknown flag: --cloud-provider`

This is happening because of the change introduced here - https://github.

[2021-12-25 10:43] bitvijays commented on #538
@sazzle2611 Hope you are doing well. Thank you for your pull and merge request. Probably this could be closed now?

[2021-12-25 10:46] bitvijays opened #543 "Using `puppet module install puppetlabs-kubernetes` on puppet server installs version 0.1.0"
## Describe the Bug
Using `puppet module install puppetlabs-kubernetes` on puppet server installs version 0.1.0

[code]

## Expected Behavior
Latest version to be installed.

Currently, latest version has to be installed via

[code]

## Steps to Reproduce

Install the `puppetlabs-kubernetes` module

[code]

[2021-12-26 20:12] bastelfreak commented on #543
based on you output the command doesnt install 0.1.0, 0.1.0 is already installed. `puppet module install` does not upgrade an existing module. please try `puppet module upgrade` or tools like r10k.

[2021-12-28 04:49] sazzle2611 commented on #538
@bitvijays yes, thank you very much!

[2021-12-28 04:49] #538 closed

[2022-01-05 10:06] puetzp commented on #364
I started to use this module at version 3.x.x as well, now running 6.3.0. I think you would only need to run `kubetool` again if any of the certificates generated by `kubetool` expired in the meantime.
The only other parameters that I changed frequently during the lifetime of a cluster were `kubernetes::token`, `kubernetes::kubernetes_version` and `kubernetes::kubernetes_package_version`. But this

[2022-01-05 10:15] puetzp commented on #536
I don't think that is possible right now using `kubetool`, as it would also generate a new Etcd CA and Kube CA and sign the new node certificates using those:

[code]

Thus the "old" and new control plane nodes would not be able to connect.

[2022-01-09 16:04] bitvijays commented on #543
Thanks @bastelfreak :) Closing the issue.

[2022-01-09 16:04] #543 closed

[2022-01-20 13:57] SimonHoenscheid opened #546 "No kubetool release for module version 6.3.0"
## Describe the Bug
There is no kubetool container Release for Module Version 6.3.0

## Expected Behavior
according to the readme for every release there is a container release for kubetool

## Steps to Reproduce
try `docker pull puppet/kubetool:6.3.0`

[2022-03-30 21:36] daveoy opened #550 "Support archive installation of kubernetes components"
## Use Case
i have an air-gapped environment where i can't update package repos, so i'd like to be able to pull kubelet, kubeadm and kubectl from a tarball

## Describe the Solution You Would Like
provide hieradata that describes where to find the various parts needed to manually install kubeadm components as describe here: https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/inst

[2022-03-30 21:38] daveoy commented on #550
[PR here](https://github.com/puppetlabs/puppetlabs-kubernetes/pull/551)

[2022-04-05 17:44] SimonHoenscheid commented on #550
best practice in this case would be running a local mirror. The packages are just the starting point, during the setup process kubernetes will start pulling containers. so you will need a local registry like harbor too.

[2022-04-06 11:39] TheMeier opened #553 "Config version not set correctly"
## Describe the Bug
In https://github.com/puppetlabs/puppetlabs-kubernetes/blob/main/manifests/config/kubeadm.pp#L170 the variable `config_version` is set via regex. The regex is not properly anchored this leads to wrong results eg. `1.21.10` matches the regex `/1\.1(0|1)/`.  The variable `$config_version` is set to `v1alpha1`.

## Expected Behavior
The  value of  `$config_version`  in `manifests/

[2022-04-06 16:06] daveoy commented on #550
we are running a local mirror for the containers, that's a given in my scenario. providing containers to the cluster is outside the scope of this module anyways so im sorry @SimonHoenscheid  but im not sure how your comment is relevant to this issue or the linked PR

[2022-04-06 20:56] #553 closed

[2022-04-07 14:39] Aaron-Rob opened #555 "Certify Kubernetes"
We’re very pleased that your product was included in our v1.21 Certified Kubernetes offerings. However, unless you have acquired a newer certification for your product, puppetlabs-kubernetes, your Kubernetes v1.21 certification will expire in May.  Any previous certifications you have for this product will expire as well.

As stated in [Certified Kubernetes Conformance Program – Terms and Conditio

[2022-04-30 00:43] gaure opened #559 "Variable kubernetes::containerd_config_source is not honored"
## Describe the Bug
Hi
I am trying to use the variable
kubernetes::containerd_config_source: puppet:///module/profile/kubernetes/worker/config.toml
In a worker hiera node.yaml file and it is not working.
The module ignore it a continue using the template.

## Expected Behavior
The /etc/containerd/config.toml use source puppet:///module/profile/kubernetes/worke/config.toml instead of the erb templa

[2022-05-02 15:52] gaure commented on #559
Hi

I found the problem, and it is related to the documentation.
If you install containerd using the "archive" option the variable containerd_config_source does not have any function.
The variable is only applied if you install containerd with the "package" option.
Apparently the "if" condition that decides is the file content will come from the module template or from your custom sources is does

[2022-05-02 15:52] #559 closed

[2022-05-02 15:52] gaure commented on #559
Documentation issue

[2022-05-09 07:43] danifr commented on #534
As I said I can prepare a MR for this issue

[2022-05-09 07:49] danifr commented on #524
https://github.com/puppetlabs/puppetlabs-kubernetes/pull/525

[2022-05-09 10:13] chelnak commented on #534
Hey @danifr!

Sure - your contributions are very welcome!

[2022-05-10 15:52] #541 closed

[2022-05-10 19:47] chelnak commented on #397
Hello! This limitation is actually set by flannel.

https://github.com/flannel-io/flannel/blob/74b5e5061db72edb2e6911e11e60ff5bd0871d63/Documentation/kube-flannel.yml#L128

Because we directly consume this manifest there is no (sensible) way to change this.

Therefore alternate configurations are not supported at this time.

Thank you!

[2022-05-10 19:47] #397 closed

[2022-05-14 08:39] scoopex commented on #439
Still relevant :-)

[2022-05-14 08:42] scoopex commented on #417
Still relevant :-)

[2022-05-14 08:42] scoopex commented on #415
Still relevant :-)

[2022-05-14 08:43] scoopex commented on #362
Still relevant :-)

[2022-05-17 02:13] #537 closed

[2022-05-17 02:13] #536 closed

[2022-05-17 02:13] #523 closed

[2022-05-17 02:13] #513 closed

[2022-05-17 02:13] #508 closed

[2022-05-17 02:13] #490 closed

[2022-05-17 02:13] #445 closed

[2022-05-17 02:13] #440 closed

[2022-05-17 02:13] #426 closed

[2022-05-17 02:13] #425 closed

[2022-05-17 02:13] #422 closed

[2022-05-17 02:13] #421 closed

[2022-05-17 02:13] #419 closed

[2022-05-17 02:13] #375 closed

[2022-05-17 02:13] #373 closed

[2022-05-17 02:13] #367 closed

[2022-05-17 02:13] #365 closed

[2022-05-17 02:13] #364 closed

[2022-05-17 02:13] #355 closed

[2022-05-17 02:13] #354 closed

[2022-05-17 02:13] #343 closed

[2022-05-17 02:13] #339 closed

[2022-05-17 02:13] #336 closed

[2022-05-17 02:13] #333 closed

[2022-05-17 02:13] #331 closed

[2022-05-17 02:13] #317 closed

[2022-05-17 02:13] #298 closed

[2022-05-17 02:13] #288 closed

[2022-05-17 02:13] #284 closed

[2022-05-17 07:42] TheMeier commented on #422
This issue still is relevant

[2022-05-17 07:43] TheMeier commented on #373
This issue ist still relevant.

[2022-05-18 23:52] daveoy commented on #550
@SimonHoenscheid how can we get this merged?

I am using the referenced for in an air-gapped environment right now, and have been since the fork was established. it works well.

[2022-05-19 11:10] deric commented on #417
@scoopex Which version of `puppetlabs-kubernetes` do you use? [Following lines](https://github.com/puppetlabs/puppetlabs-kubernetes/blob/main/manifests/service.pp#L80):
[code]
should trigger `etcd` restart. The change was [introduced in 6.0.0](https://github.com/puppetlabs/puppetlabs-kubernetes/commit/6f7faf6b3adb91d87ed23d26d7d6e16a7fe1fd8f).

[2022-07-11 07:33] TheMeier opened #563 "Support for RedHat derivatives version 8 and 9"
## Use Case
Currently `metadata.json` only lists CentOS 7 as supported OS. Since 2020-08-06 CentOS 7 only receives maintenance update, it will receive no updates at all after 2024-06-30.

## Describe the Solution You Would Like
This module should support RedHat 8 and 9 and their "clones" (Alma Linux, Rocky Linux)

[2022-07-15 13:37] deric opened #564 "Invalid default docker version on Debian"
## Describe the Bug

The default value for `kubernetes::docker_version` expects certain distributions and configuration (like `manage_docker:true`).

## Expected Behavior

I'm expecting catalog to compile with default parameters.

[code]

## Steps to Reproduce

[code]

## Environment
 - Version 6.3.0
 - Platform Debian 11

A workaround is not to manage docker and override `docker_version` variable

[2022-07-21 16:00] nickperry opened #567 "Spec tests seem to be broken and are blocking PRs"
Spec tests seem to be broken.

Multiple PRs are currently blocked by the spec tests failing.

e.g.
https://github.com/puppetlabs/puppetlabs-kubernetes/pull/561 and
https://github.com/puppetlabs/puppetlabs-kubernetes/pull/525

See failed CI/CD runs for both of those PRs here:

https://github.com/puppetlabs/puppetlabs-kubernetes/runs/7449128268?check_suite_focus=true
https://github.com/puppetlabs/pu

[2022-07-21 16:04] nickperry commented on #567
Hopefully fixed by https://github.com/puppetlabs/puppetlabs-kubernetes/pull/565 ?

[2022-07-24 17:19] nickperry commented on #567
Confirmed #565 fixes.

[2022-07-28 21:04] #567 closed

[2022-08-05 11:01] deric commented on #564
Resolved by #565

[2022-08-05 11:01] #564 closed

[2022-08-05 11:12] pmcmaw commented on #564
Thanks for raising this issue and also following up on closing it, now that the issue has been resolved!
Much appreciated @deric 👍

[2022-08-08 07:26] johnwarburton commented on #284
In case anyone else lands here - I got this error message due to a locally created <sysctl> definition 😞

Deleted it and carried on...

[2022-08-16 02:15] #546 closed

[2022-08-16 02:15] #534 closed

[2022-08-16 02:15] #524 closed

[2022-08-16 02:15] #290 closed

[2022-08-21 02:16] #439 closed

[2022-08-21 02:16] #415 closed

[2022-08-21 02:16] #362 closed

[2022-08-25 02:13] #550 closed

[2022-08-25 11:53] daveoy commented on #550
this issue and it's associated PR is not complete

[2022-08-26 02:14] #417 closed

[2022-09-27 10:57] deric commented on #563
@TheMeier You're right, RedHat should be listed as supported OS. Though Google doesn't seem to have a release for RedHat 8 and 9 in their [Yum repo](https://packages.cloud.google.com/yum/repos/) yet.

[2022-10-27 16:18] mmoore0011 opened #584 "Calico install doesn't work"
## Describe the Bug
Calico doesn't install using this module.  I suspect there was a change in the install procedure on caloco's end.  See https://projectcalico.docs.tigera.io/getting-started/kubernetes/self-managed-onprem/onpremises

## Expected Behavior
Calico installs

## Steps to Reproduce
Use the module with the calico option.  You'll get the error

[code]

that url is now a redirect but even

[2022-10-28 10:08] BaronMsk opened #585 "Module not work"
## Describe the Bug
After commit: e7addfbeaf3ff75496e31c2f44f22355f75dc6a3 not work modules
log join node
Notice: /Stage[main]/Main/Exec[kubeadm join]/returns: unknown flag: --config '/etc/confi.yaml' --ignore-preflight-errors 'Service-Docker'
Notice: /Stage[main]/Main/Exec[kubeadm join]/returns: To see the stack trace of this error execute with --v=5 or higher
Error: '["kubeadm", "join", "--confi

[2022-10-28 15:00] BaronMsk commented on #585
I found that this commit broke a lot more than it seems, I suggest to git revert

[2022-10-30 20:37] ArsenyBelorukov commented on #585
in addition, the wrong regexp was added in this commit https://github.com/puppetlabs/puppetlabs-kubernetes/commit/e7addfbeaf3ff75496e31c2f44f22355f75dc6a3#r86807409

[2022-10-31 08:38] BaronMsk commented on #585
You can rollback this commit ?

[2022-10-31 11:04] ArsenyBelorukov commented on #585
No

[2022-10-31 11:05] BaronMsk commented on #585
Why, this makes the module not working ?

[2022-10-31 11:27] ArsenyBelorukov commented on #585
Maybe @david22swan could help

[2022-11-08 07:31] BaronMsk commented on #585
@GSPatton help please

[2022-11-11 11:27] pmcmaw commented on #585
Hey @BaronMsk
Apologies, I can see something has went wrong. We have taken note and this is something we are working on to resolve.
In order to avoid issues like this arising in the future, I advise you to pull released versions of this module from the Forge. Our main branch may not always be as stable as we would like it to be. When a module is released it is our way of saying, this module has be

[2022-11-11 11:29] pmcmaw commented on #584
Hey @mmoore0011 can you please give me additional information on the version of the module you are currently using?

[2022-11-11 11:32] BaronMsk commented on #585
@pmcmaw tnx

[2022-11-25 14:51] LukasAud commented on #585
Hi @BaronMsk, we have been investigating this issue. Upon inspection of our original codebase hardening [PR](https://github.com/puppetlabs/puppetlabs-kubernetes/pull/575), we have been able to spot a few issue with our previous implementation and implement appropriate [fixes](https://github.com/puppetlabs/puppetlabs-kubernetes/pull/590) recently.

However, we are currently having issues investigat

[2022-11-28 06:37] BaronMsk commented on #585
@LukasAud I can test your branch on my servers

[2022-11-28 10:18] LukasAud commented on #585
Hi @BaronMsk, thanks for offering to test this. The current latest build we have in here in GitHub already has the patch I mentioned earlier. If you could update to our latest push and let me know if there is any visible impact in comparison to the failing version, that would be great.

[2022-11-28 11:23] BaronMsk commented on #585
not work
```Error: /Stage[main]/Kubernetes::Cluster_roles/Kubernetes::Kubeadm_join[k8s-test-worker-dtln-3]/Exec[kubeadm join]: Could not evaluate: Could not find command 'kubectl get nodes | grep k8s-test-worker-dtln-3'```

[2022-11-28 11:51] LukasAud commented on #585
Thats interesting. I think I know what might the failure point for both of these errors. Both seem to be caused by my modification of the 'unless' commands. It seems wrapping unbreakable commands in arrays (and later, "fixed" by nesting those arrays) might have been counterproductive.

It seems I will have to revert some of my updates. I still cannot be sure if this will help with the original iss

[2022-11-28 12:45] BaronMsk commented on #585
@LukasAud Yes, [commit](https://github.com/puppetlabs/puppetlabs-kubernetes/commit/e7addfbeaf3ff75496e31c2f44f22355f75dc6a3) revert will help 100%. I already checked it!

[2022-11-28 14:01] LukasAud commented on #585
Unfortunately, this commit is important to our modules health and we cannot fully revert it. Our ideal scenario is to revert only whatever code is breaking the normal module behaviour and leave the rest. I will discuss this issue with a senior engineer in our team and see whats the best approach to fixing this.

[2022-11-28 14:22] BaronMsk commented on #585
@LukasAud What problem did you want to solve with this commit?

[2022-11-28 16:11] LukasAud commented on #585
@BaronMsk This commit was part of a larger project that was set to address concerns about code vulnerabilities in some of our modules. Unfortunately, some modules are giving us a harder time than others during this work. However, we consider this to be essential for the health of our modules and for establishing appropriate coding standards in the future.

[2022-11-28 16:15] BaronMsk commented on #585
@LukasAud Where can I find these vulnerabilities ?

[2022-11-28 16:33] LukasAud commented on #585
@BaronMsk This [article](https://dev.to/puppet/writing-secure-puppet-code-part-one-3dhm) we wrote should be able to explain the security issue better than me. More precisely, during our security update project, we have been targeting executable commands that contained interpolated user input. That involved examining 'command', 'onlyif' and 'unless' parameters and breaking them down where possible